<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>{%$lngpack.sitename%}</title>
<meta name="keywords" content="{%$lngpack.keyword%}" />
<meta name="description" content="{%$lngpack.description%}" />
<script type="text/javascript" src="{%$rootdir%}js/jquery.js"></script>
<script type="text/javascript" src="{%$rootdir%}js/jquery.Slide.js"></script>
<link href="{%$rootpath%}css/espcms_public.css" rel="stylesheet" type="text/css" />
<link href="{%$rootpath%}css/espcms_v5div.css" rel="stylesheet" type="text/css" />
<link href="{%$rootpath%}css/slider.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{%$rootdir%}index.php?ac=scriptout&at=waplink"></script>
<script type="text/javascript">
	$(window).load(function() {
		$("#clickmenubotton li span").hover(function() {
			$(this).addClass("menuhover");
			$(this).parent().find("ul.subnav").slideDown('fast').show();
			$(this).parent().hover(function() {
			}, function() {
				$(this).parent().find("ul.subnav").fadeOut('fast');
				$(this).parent().find("span").removeClass("menuhover");
			});
		});
	});
</script>
</head>

<body>
{%link file="en/public/head.html"%}
<div class="espcms_slide">
	<div class="bd">
		{%get name=bann class=atid:6,adtype:1,max:3%}
		<ul>
			{%forlist from=$array key=i%}
			<li _src="url({%$rootdir%}{%$array[i].filename%})" style="background:#eafaff center 0 no-repeat;"><a alt="{%$array[i].title%}" target="_blank" href="{%$array[i].url%}"></a></li>
			{%/forlist%}
		</ul>
		{%/get%}
	</div>
	<div class="hd"><ul></ul></div>
</div>
<script type="text/javascript">
	jQuery(".espcms_slide").slide({titCell: ".hd ul", mainCell: ".bd ul", effect: "fold", autoPlay: true, autoPage: true, trigger: "mouseover",
		startFun: function(i) {
			var curLi = jQuery(".espcms_slide .bd li").eq(i);
			if (!!curLi.attr("_src")) {

				curLi.css("background-image", curLi.attr("_src")).removeAttr("_src");
			}
		}
	});
</script>
<div class="espcms_page pt15">
	<div class="espcms_table left">
		<div class="espcms_table_title">
			<p class="fw f14 f9d56">COMPANY NEWS</p>
			<p class="more"><a class="morn" href="{%find:type class=53 out=link%}"><img src="{%$rootpath%}images/more_t.jpg" alt="More"/></a></p>
		</div>
		<div class="espcms_table_pic">
			{%get name=list class=mid:2,tid:53,max:1,dlid:6%}
			{%forlist from=$array key=i%}
			<div class="newspic"><a target="_blank" title="{%$array[i].title%}" href="{%$array[i].link%}"><img src="{%$array[i].pic|zoom(110,83)%}" alt="{%$array[i].title%}"/></a></div>
			<div class="newstitle"><a target="_blank" title="{%$array[i].title%}" class="f9d56 strong" href="{%$array[i].link%}">{%$array[i].ctitle|cutstr(22)%}</a></div>
			<div class="newssummit f8f">{%$array[i].summary%}</div>
			{%/forlist%}
			{%/get%}

		</div>
		<ul class="espcms_table_list unstyled">
			{%get name=list class=mid:2,tid:53,max:5,dlid:5%}
			{%forlist from=$array key=i%}
			<li><a title="{%$array[i].title%}" target="_blank" href="{%$array[i].link%}">{%$array[i].ctitle|cutstr(22)%}</a> <p class="time">{%$array[i].addtime|timeformat(2)%}</p></li>
			{%/forlist%}
			{%/get%}
		</ul>
	</div>


	<div class="espcms_table left ml15">
		<div class="espcms_table_title">
			<p class="fw f14 f9d56">NEWS</p>
			<p class="more"><a class="morn" href="{%find:type class=54 out=link%}"><img src="{%$rootpath%}images/more_t.jpg" alt="More"/></a></p>
		</div>
		<div class="espcms_table_pic">
			{%get name=list class=mid:2,tid:54,max:1,dlid:6%}
			{%forlist from=$array key=i%}
			<div class="newspic"><a target="_blank" title="{%$array[i].title%}" href="{%$array[i].link%}"><img src="{%$array[i].pic|zoom(110,83)%}" alt="{%$array[i].title%}"/></a></div>
			<div class="newstitle"><a target="_blank" title="{%$array[i].title%}" class="f9d56 strong" href="{%$array[i].link%}">{%$array[i].ctitle|cutstr(22)%}</a></div>
			<div class="newssummit f8f">{%$array[i].summary%}</div>
			{%/forlist%}
			{%/get%}

		</div>
		<ul class="espcms_table_list unstyled">
			{%get name=list class=mid:2,tid:54,max:5,dlid:5%}
			{%forlist from=$array key=i%}
			<li><a title="{%$array[i].title%}" target="_blank" href="{%$array[i].link%}">{%$array[i].ctitle|cutstr(22)%}</a> <p class="time">{%$array[i].addtime|timeformat(2)%}</p></li>
			{%/forlist%}
			{%/get%}
		</ul>
	</div>

	<div class="espcms_Rtalbe left ml15">
		<div class="espcms_Rtalbe_title">
			<p class="fw f14 f9d56">ABOUT US</p>
			<p class="more"><a class="morn" href="{%find:type class=50 out=link%}"><img src="{%$rootpath%}images/more_t.jpg" alt="More"/></a></p>
		</div>
		{%get name=bread class=tid:50%}
		<img src="{%$rootpath%}images/bann/cpic.jpg" alt="{%$read.title%}"/>
		<div class="espcms_Rtalbe_summmit f8f">{%$read.summary|cutstr(110,'…')%}</div>
		{%/get%}
	</div>
</div>
<div class="espcms_page pt15">
	<div class="espcms_piclist_table left">
		<div class="espcms_piclist_table_title">
			<div class="title fw f14 f9d56 pl10">PRODUCTS</div>
			<div class="pic_pagebotton hd">
				<a class="next"></a>
				<a class="prev"></a>
				<ul>
					<li></li>
					<li></li>
				</ul>
			</div>
		</div>
		<div class="espcms_piclist_slide">
			<ul class="unstyled">
				{%get name=list class=mid:3,max:10,sort:1%}
				{%forlist from=$array key=i%}
				<li>
					<a title="{%$array[i].title%}" href="{%$array[i].link%}"><img src="{%$array[i].pic|zoom(131,131)%}" alt="{%$array[i].title%}"></a>
					<p><a title="{%$array[i].title%}" href="{%$array[i].link%}">{%$array[i].ctitle|cutstr(10,'')%}</a></p>
				</li>
				{%/forlist%}
				{%/get%}
			</ul>
		</div>
	</div>
	<script type="text/javascript">jQuery(".espcms_piclist_table").slide({mainCell: ".espcms_piclist_slide ul", effect: "left", interTime: 4000, delayTime: 800, vis: 5, scroll: 5, autoPlay: true, pnLoop: false, trigger: "click", easing: "easeOutCubic"});</script>
	<div class="espcms_Rtalbe left ml10">
		<ul class="unstyled bann">
			{%get name=bann class=atid:7,adtype:1,max:2%}
			{%forlist from=$array key=i%}
			<li{%if key=>i>1%} class="pt10"{%/if%}><a title="{%$array[i].title%}" target="_blank" href="{%$array[i].url%}"><img alt="{%$array[i].title%}" border="0" src="{%$rootdir%}{%$array[i].filename%}"></a></li>
			{%/forlist%}
			{%/get%}
		</ul>
	</div>
</div>
<div class="espcms_page pt15"></div>
{%link file="en/public/footer.html"%}
</body>
</html>