<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>{%$lngpack.sitename%}</title>
<meta name="keywords" content="{%$lngpack.keyword%}" />
<meta name="description" content="{%$lngpack.description%}" />
<script type="text/javascript" src="{%$rootdir%}js/jquery.js"></script>
<script type="text/javascript" src="{%$rootdir%}js/basicrun.js"></script>
<script type="text/javascript" src="{%$rootdir%}js/jquery.Slide.js"></script>
<script type="text/javascript" src="{%$rootdir%}js/menuthree.js"></script>
<script type="text/javascript" src="{%$rootdir%}js/treeviewcookie.js"></script>
<link href="{%$rootpath%}css/espcms_three.css" rel="stylesheet" type="text/css" />
<link href="{%$rootpath%}css/espcms_public.css" rel="stylesheet" type="text/css" />
<link href="{%$rootpath%}css/espcms_v5div.css" rel="stylesheet" type="text/css" />
<link href="{%$rootpath%}css/espcms_page.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{%$rootdir%}index.php?ac=public&at=readpuv&did={%$read.did%}"></script>
<script type="text/javascript">
	$(window).load(function() {
		$("#clickmenubotton li span").hover(function() {
			$(this).addClass("menuhover");
			$(this).parent().find("ul.subnav").slideDown('fast').show();
			$(this).parent().hover(function() {
			}, function() {
				$(this).parent().find("ul.subnav").fadeOut('fast');
				$(this).parent().find("span").removeClass("menuhover");
			});
		});
		$("#three").treeview({collapsed: true, control: "#sidetreecontrol", prerendered: false, persist: "location"});
	});
</script>
</head>

<body>
{%link file="en/public/head.html"%}
{%if $type.typepic!=''%}
<div class="espcms_page_bannpic"><img src="{%$rootdir%}{%$type.typepic%}" alt="{%$type.typename%}"/></div>
{%/if%}

<div class="espcms_page espcms_page_left_linkbg">
	<div class="espcms_page_left">
		{%get name=typelist class=utid:$type.topid,tid:$type.tid%}
		<h2>{%$uptypeview.typename%}</h2>
		<ul id="three" class="treeview">
			{%forlist from=$array key=i%}
			<li{%if count( $array[i].childArray ) <= 0%} class="onefast"{%/if%}>
				<a href="{%$array[i].link%}" {%if $array[i].selected==1 %}class="hover"{%/if%} title="{%$array[i].typename%}">{%$array[i].typename%}</a>
				{%if count( $array[i].childArray ) > 0 %}
				<ul>
					{%forlist from=$array[i].childArray key=ii%}
					<li class="treeone">
						<a href="{%$array[i].childArray[ii].link%}" {%if $array[i].childArray[ii].selected==1 %}class="hover"{%/if%}  title="{%$array[i].childArray[ii].typename%}">{%$array[i].childArray[ii].typename%}</a>
						{%if count( $array[i].childArray[ii].childArray ) > 0 %}
							<ul>
								{%forlist from=$array[i].childArray[ii].childArray key=iii%}
								<li class="treetow">
									<a href="{%$array[i].childArray[ii].childArray[iii].link%}" {%if $array[i].childArray[ii].childArray[iii].selected==1 %}class="hover"{%/if%} title="{%$array[i].childArray[ii].childArray[iii].typename%}">{%$array[i].childArray[ii].childArray[iii].typename%}</a>
									{%if count( $array[i].childArray[ii].childArray[iii].childArray ) > 0 %}
										<ul>
											{%forlist from=$array[i].childArray[ii].childArray[iii].childArray key=iiii%}
											<li class="treefour">
												<a href="{%$array[i].childArray[ii].childArray[iii].childArray[iiii].link%}" {%if $array[i].childArray[ii].childArray[iii].childArray[iiii].selected==1 %}class="hover"{%/if%} title="{%$array[i].childArray[ii].childArray[iii].childArray[iiii].typename%}">{%$array[i].childArray[ii].childArray[iii].childArray[iiii].typename%}</a>
												{%if count( $array[i].childArray[ii].childArray[iii].childArray[iiii].childArray ) > 0 %}
													<ul>
														{%forlist from=$array[i].childArray[ii].childArray[iii].childArray[iiii].childArray key=iiiii%}
														<li class="treefive"><a href="{%$array[i].childArray[ii].childArray[iii].childArray[iiii].childArray[iiiii].link%}" {%if $array[i].childArray[ii].childArray[iii].childArray[iiii].childArray[iiiii].selected==1 %}class="hover"{%/if%} title="{%$array[i].childArray[ii].childArray[iii].childArray[iiii].childArray[iiiii].typename%}">{%$array[i].childArray[ii].childArray[iii].childArray[iiii].childArray[iiiii].typename%}</a></li>
														{%/forlist%}
													</ul>
												{%/if%}
											</li>
											{%/forlist%}
										</ul>
									{%/if%}
								</li>
								{%/forlist%}
							</ul>
						{%/if%}
					</li>
					{%/forlist%}
				</ul>
				{%/if%}
			</li>
			{%/forlist%}
		</ul>
		{%/get%}
	</div>
	<div class="espcms_page_right">
		<div class="espcms_page_typename">{%$type.typename%}</div>
		<div class="espcms_page_location">{%list name=path class=type:type,id:$type.tid%}</div>
		<div class="espcms_page_right_line"></div>

		<div class="espcms_news_title">
			<h1>{%$read.title%}</h1>
			{%$read.addtime|timeformat(3)%}  {%$read.author%}  {%$read.source%}  <script type="text/javascript" src="{%$rootdir%}index.php?ac=scriptout&at=click&did={%$read.did%}"></script>
		</div>
		<div class="espcms_page_right_line"></div>
		<div class="espcms_book lh26 ti2">{%$read.content%}</div>
		{%if count($tag)>0%}
		<div class="espcms_book_padding0 ti2">
			TAG：
			{%forlist from=$tag key=i%}
			<a target="_blank" class="espcms_key keyword{%key=>i%}" title="{%$tag[i].title%}" href="{%$tag[i].link%}">{%$tag[i].title%}</a>
			{%/forlist%}
		</div>
		{%/if%}
		{% if count($page)>0 %}
		<div class="espcms_page_botton">
			<div id="pagination" class="pagination">
				{%if $read.plink!=''%}
				<span><a href="{%$read.plink%}">Previous</a></span>
				{%/if%}
				{%forlist from=$page key=i%}
				{%if $page[i].n==1%}
				<span class="current disabled">{%$page[i].num%}</span>
				{%else%}
				<span><a href="{%$page[i].link%}">{%$page[i].num%}</a></span>
				{%/if%}
				{%/forlist%}
				{%if $read.nlink!=''%}
				<span><a href="{%$read.nlink%}">Next</a></span>
				{%/if%}
			</div>
		</div>
		{%/if%}
		<div class="espcms_book">
			<ul class="espcms_newslist_read unstyled">
				{%get name=plist class=did:$read.did%}
				<li>{%if $read.ctitle!=''%}Previous posts：<a class="infolist2" title="{%$read.title%}" href="{%$read.link%}">{%$read.ctitle%}</a>{%/if%}</li>
				{%/get%}
				{%get name=plist class=did:$read.did,class:1%}
				<li>{%if $read.ctitle!=''%}Next chapter：<a class="infolist2" title="{%$read.title%}" href="{%$read.link%}">{%$read.ctitle%}</a>{%/if%}</li>
				{%/get%}
			</ul>
		</div>
		{%if $read.linkdid!=''%}
		<div class="espcms_page_labelname">Related articles</div>
		<div class="espcms_page_right_line"></div>
		<div class="espcms_book">
			<ul class="espcms_newslist_read unstyled">
				{%get name=list class=mid:$read.mid,tid:$read.tid,linkdid:$read.linkdid,max:6%}
				{%forlist from=$array key=i%}
				<li><a class="infolist" title="{%$array[i].title%}" href="{%$array[i].link%}">{%$array[i].title|cutstr(28,'...')%}</a></li>
				{%/forlist%}
				{%/get%}
			</ul>
		</div>
		{%/if%}
		<div class="espcms_page_labelname">Online message</div>
		<div class="espcms_page_right_line"></div>
		<div class="espcms_book pb20">
			{%list name=messlist class=did:$read.did,max:4%}
		</div>
	</div>
</div>
{%link file="en/public/footer.html"%}
</body>
</html>
