<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>{%$lngpack.sitename%}</title>
<meta name="keywords" content="{%$lngpack.keyword%}" />
<meta name="description" content="{%$lngpack.description%}" />
<script type="text/javascript" src="{%$rootdir%}js/jquery.js"></script>
<script type="text/javascript" src="{%$rootdir%}js/basicrun.js"></script>
<script type="text/javascript" src="{%$rootdir%}js/jquery.Slide.js"></script>
<link href="{%$rootpath%}css/espcms_public.css" rel="stylesheet" type="text/css" />
<link href="{%$rootpath%}css/espcms_v5div.css" rel="stylesheet" type="text/css" />
<link href="{%$rootpath%}css/espcms_page.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{%$rootdir%}index.php?ac=public&at=typepuv&tid={%$type.tid%}"></script>
<script type="text/javascript">
	$(window).load(function() {
		$("#clickmenubotton li span").hover(function() {
			$(this).addClass("menuhover");
			$(this).parent().find("ul.subnav").slideDown('fast').show();
			$(this).parent().hover(function() {
			}, function() {
				$(this).parent().find("ul.subnav").fadeOut('fast');
				$(this).parent().find("span").removeClass("menuhover");
			});
		});
	});
</script>
</head>

<body>
{%link file="en/public/head.html"%}

<div class="espcms_page ">
	{%get name=search class=mid:0,tid:0,att:0,keyword:$keyword,keyname:$keyname%}
	<form name="infosearch" method="post" action="{%$link%}">
	<input type="hidden" name="lng" value="{%$lng%}">
	<div class="espcms_member_login_center espcms_formwidth_c">
		<div class="title mb20"><div class="messageicon2"></div><div class="messtitle">Search Form</div></div>

		<div class="espcms_form_group">
			<label for="title" class="control_label16">Keyword</label>
			<div class="control_required20">
				<input type="text" name="keyword" class="col5 infoInput" value="{%$keyword%}" size="20" maxlength="30" onfocus="if (this.value=='{%$keyword%}'){this.value=''}" onblur="if(this.value==''){this.value='{%$keyword%}'}"/>
			</div>
		</div>
		<div class="espcms_form_group">
			<label for="title" class="control_label16">Searchtype</label>
			<div class="control_required20">
				<select size="1" name="keyname" class="infoInput">
					<option value="title"{%if $keyname=='title'%} selected{%/if%}>Title</option>
					<option value="summary"{%if $keyname=='summary'%} selected{%/if%}>description</option>
					<option value="tsn"{%if $keyname=='tsn'%} selected{%/if%}>Number</option>
				</select>
			</div>
		</div>
		{%if count($array)>0%}
		<div class="espcms_form_group">
			<label for="title" class="control_label16">Categories</label>
			<div class="control_required20">
				<select size="1" name="tid" id="tid" class="infoInput">
					{%forlist from=$array key=i%}
					<option value="{%$array[i].tid%}" title="{%$array[i].typename%}">{%if $array[i].level>1%}├{%/if%}{%$array[i].level|treelist('─')%} {%$array[i].typename|cutstr(6)%}</option>
					{%/forlist%}
				</select>
			</div>
		</div>
		{%/if%}

		{%forlist from=$searchatt key=list%}
		<div class="espcms_form_group">
			<label for="title" class="control_label16">{%$searchatt[list].typename%}</label>
			<div class="control_required20">
				{%if ($searchatt[list].inputtype=='select')%}
				<select size="1" name="att[{%$searchatt[list].attrname%}]" class="infoInput" id="{%$searchatt[list].attrname%}">
					<option value="">{%$ST.botton_select_name%}{%$searchatt[list].typename%}</option>
					{%forlist from=$searchatt[list].attrvalue key=ii%}
					<option {%$searchatt[list].attrvalue[ii].selected%} value="{%$searchatt[list].attrvalue[ii].name%}">{%$searchatt[list].attrvalue[ii].name%}</option>
					{%/forlist%}
				</select>
				{%elseif ($searchatt[list].inputtype=='radio')%}
					{%forlist from=$searchatt[list].attrvalue key=ii%}
					<input type="radio" value="att[{%$searchatt[list].attrvalue[ii].name%}]" class="infoInput" name="{%$searchatt[list].attrname%}" {%if $searchatt[list].attrvalue[ii].selected=='selected'%}checked="checked"{%/if%}/> {%$searchatt[list].attrvalue[ii].name%}&nbsp;
					{%/forlist%}
				{%elseif ($searchatt[list].inputtype=='checkbox')%}
					{%forlist from=$searchatt[list].attrvalue key=ii%}
					<input type="checkbox" value="att[{%$searchatt[list].attrvalue[ii].name%}]" class="infoInput" name="{%$searchatt[list].attrname%}[]"/> {%$searchatt[list].attrvalue[ii].name%}&nbsp;
					{%/forlist%}
				{%else%}
					<input type="text" name="att[{%$searchatt[list].attrname%}]" size="20" id="{%$searchatt[list].attrname%}" value="{%$searchatt[list].attrvalue%}" maxlength="{%$searchatt[list].attrlenther%}" class="infoInput"/>
				{%/if%}
			</div>
		</div>
		{%/forlist%}

		<div class="espcms_form_group">
			<label class="control_label16"></label>
			<div class="control_required20"><input type="submit" id="submit" class="button blue2" value="Search"/></div>
		</div>
	</div>
	</form>
	{%/get%}

	<div class="espcms_page_typename_width">Search Results{%if $keyword%}：{%$keyword%}{%/if%}</div>
	<div class="espcms_page_center_line"></div>

	{%if count($array) > 0%}
	<ul class="espcms_newslist unstyled">
		{%forlist from=$array key=i%}
		<li class="espcms_strlist">
			<dl>
				<dd class="tl"><a title="{%$array[i].title%}" target="_blank" href="{%$array[i].link%}">{%$array[i].ctitle%}</a></dd>
				<dd class="dr">{%$array[i].addtime|timeformat(3)%}</dd>
			</dl>
		</li>
		{%/forlist%}
	</ul>

	<div class="espcms_page_center_line"></div>
	<div class="espcms_page_botton">
		<div id="pagelist">{%$pagetext%}</div>
	</div>
	<div class="espcms_page_botton">
		<div id="pagination" class="pagination">
			{%$pagebotton%}
		</div>
	</div>
	{%else%}
	<div class="espcms_page_botton">
		<div id="pagination">暂未搜索到相关内容</div>
	</div>
	{%/if%}
</div>

{%link file="en/public/footer.html"%}
</body>
</html>
