<h2>会员中心</h2>
<ul class="espcms_three_one unstyled">
	<li><a class="typelink" href="{%$mlink.center%}">中心首页</a></li>
	<li><a class="typelink" href="{%$mlink.orderlist%}">订单管理</a></li>
	<li><a class="typelink" href="{%$mlink.enquirylist%}">询价管理</a></li>
	{%if $bbsapp==1%}
	<li><a class="typelink" href="{%$mlink.forumlist%}">留言管理</a></li>
	{%/if%}
	<li><a class="typelink" href="{%$mlink.memedit_info%}">个人资料修改</a></li>
	<li><a class="typelink" href="{%$mlink.memedit_password%}">密码修改</a></li>
	<li><a class="typelink" href="{%$mlink.memedit_email%}">E-mail修改</a></li>
	<li><a class="typelink" href="{%$mlink.moblie_validate%}">手机服务及验证</a></li>
	<li><a class="typelink" href="{%$mlink.quit%}">退出</a></li>
</ul>