<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>{%$lngpack.sitename%}</title>
<meta name="keywords" content="{%$lngpack.keyword%}" />
<meta name="description" content="{%$lngpack.description%}" />
<script type="text/javascript" src="{%$rootdir%}js/jquery.js"></script>
<script type="text/javascript" src="{%$rootdir%}js/basicrun.js"></script>
<script type="text/javascript" src="{%$rootdir%}js/jquery.Slide.js"></script>
<script type="text/javascript" src="{%$rootdir%}js/ajax_city.js"></script>
<link href="{%$rootpath%}css/espcms_v5div.css" rel="stylesheet" type="text/css" />
<link href="{%$rootpath%}css/espcms_public.css" rel="stylesheet" type="text/css" />
<link href="{%$rootpath%}css/espcms_page.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">
	$(window).load(function() {
		$("#clickmenubotton li span").hover(function() {
			$(this).addClass("menuhover");
			$(this).parent().find("ul.subnav").slideDown('fast').show();
			$(this).parent().hover(function() {
			}, function() {
				$(this).parent().find("ul.subnav").fadeOut('fast');
				$(this).parent().find("span").removeClass("menuhover");
			});
		});
	});
</script>
</head>

<body>
{%link file="en/public/head.html"%}
<div class="espcms_page_bannpic"><img src="{%$rootpath%}images/bann/type_pic.jpg"/></div>
<div class="espcms_page">
	{%if $out=='list'%}
	<!--询盘列表-->
	<script type="text/javascript">
	var order_amout_err = "{%$lngpack.order_amout_err%}";
	</script>
	<script type="text/javascript">
	{%if $mem_isaddress==1%}
	$(function() {
	sec_cityone('{%$member.country%}','{%$member.province%}');
	sec_citytwo('{%$member.province%}','{%$member.city%}');
	sec_district('{%$member.city%}','{%$member.district%}');
	});
	{%/if%}
	var citytwo_title = "Province";
	var citythree_title = "City";
	var district_title = "Area";
	var address_title = "{%$lngpack.address_title%}";
	var alias_empty = "{%$lngpack.alias_empty%}";
	var email_err = "{%$lngpack.email_err%}";
	var tel_empty = "{%$lngpack.tel_empty%}";
	</script>
	<div class="espcms_member_login_center espcms_formwidth_c">
		{% if count($array) > 0 %}
		<div class="title mb10"><div class="messageicon4"></div><div class="messtitle">Products List</div></div>
		<form name="mainform" method="post" action="{%$mlink.enquirysave%}" onsubmit="return enquirysave()">
		<input type="hidden" name="userid" value="{%$member.userid%}"/>
		<input type="hidden" name="tokenkey" value="{%$tokenkey.token_key%}"/>
			<table class="tablelist" width="99%" style="margin:0 auto;">
				<tr>
					<td class="td01">Cart Items</td>
					<td class="td01">Photo</td>
					<td class="td01">Product ID</td>
					<td class="td01">Qty</td>
					<td class="td01">Operation</td>
				</tr>
				{%forlist from=$array key=i%}
				<tr>
					<td class="td02"><input type="hidden" name="ptitle[]" value="{%$array[i].title%}"><a target="_blank" class="infolink01" href="{%$array[i].link%}">{%$array[i].title%}</a></td>
					<td class="td02"><img src="{%$array[i].pic|zoom(90,90)%}"/></td>
					<td class="td02"><input type="hidden" name="tsn[]" value="{%$array[i].tsn%}"/>{%$array[i].tsn%}</td>
					<td class="td02">
						<input type="text" name="amount[]" id="amount{%$array[i].did%}" value="{%$array[i].amount%}" onBlur="javascript:orderamount({%$array[i].did%});" size="2" maxlength="5" class="infoInput"/>
						<input type="hidden" name="did[]" value="{%$array[i].did%}"/>
					</td>
					<td class="td02"><a class="infolink04" href="javascript:if (confirm('Are you sure you want to remove it?')) location.href='{%$array[i].dellink%}';">Remove</a></td>
				</tr>
				{%/forlist%}
				<tr>
					<td colspan="6" class="td03">
						<input name="addch" class="button orange" type="button" value="Keep shopping" onclick="javascript:location.href='{%$homelink%}';">
						<input name="addch" class="button" type="button" value="Delete" onclick="javascript:if (confirm('Are you sure you want to empty it?')) location.href='{%$mlink.cleargoods%}';">
					</td>
				</tr>
			</table>


			<div class="title mb20 mt20"><div class="messageicon4"></div><div class="messtitle">Contact Information</div></div>
			<div class="espcms_form_group">
				<label for="title" class="control_label16">Name</label>
				<div class="control_required20">
					<input type="text" name="linkman" value="{%$member.alias%}" class="col4 infoInput" size="20" maxlength="50"/>
					<span class="form_message">Enter real name</span>
				</div>
			</div>
			<div class="espcms_form_group">
				<label for="title" class="control_label16">Sex</label>
				<div class="control_required20 f14">
					<input type="radio" value="1" name="sex" {%if $member.sex==1%}checked{%/if%} /> Man&nbsp;
					<input type="radio" value="0" name="sex" {%if $member.sex==0%}checked{%/if%} /> Woman
				</div>
			</div>
			<div class="espcms_form_group">
				<label for="title" class="control_label16">E-mail</label>
				<div class="control_required20 f14"><input type="text" name="email" value="{%$member.email%}" maxlength="100" size="50" class="col5 infoInput" /></div>
			</div>
			<div class="espcms_form_group">
				<label for="title" class="control_label16">Tel</label>
				<div class="control_required20 f14"><input type="text" name="tel" value="{%$member.tel%}" maxlength="50" size="50" class="col4 infoInput" /></div>
			</div>
			<div class="espcms_form_group">
				<label for="title" class="control_label16">Mobile</label>
				<div class="control_required20 f14"><input type="text" name="mobile" value="{%$member.mobile%}" maxlength="50" size="50" class="col4 infoInput" /> </div>
			</div>
			<div class="espcms_form_group">
				<label for="title" class="control_label16">FAX</label>
				<div class="control_required20 f14"><input type="text" name="fax" value="{%$member.fax%}" maxlength="50" size="50" class="col4 infoInput" /> </div>
			</div>
			{%if $mem_isaddress==1%}
			<div class="espcms_form_group">
				<label for="title" class="control_label16">District</label>
				<div class="control_required20 f14">
					<select size="1" name="cityone" class="infoInput" id="cityone">
						<option value="0" {%if $member.country==0%}selected{%/if%}>Country</option>
						<option value="1" {%if $member.country==1%}selected{%/if%}>China</option>
					</select>
					<select size="1" name="citytwo" class="infoInput" id="citytwo">
						<option selected value="0">Province</option>
					</select>
					<select size="1" name="citythree" class="infoInput" id="citythree">
						<option selected value="0">City</option>
					</select>
					<select size="1" name="district" class="infoInput" id="district">
						<option selected value="0">Area</option>
					</select>
					<span id="loading">Loading</span>
				</div>
			</div>
			{%/if%}
			<div class="espcms_form_group">
				<label for="title" class="control_label16">Address</label>
				<div class="control_required20 f14"><input type="text" name="address" value="{%$member.address%}" maxlength="200" size="80" class="col6 infoInput" /></div>
			</div>
			<div class="espcms_form_group">
				<label for="title" class="control_label16">Zipcode</label>
				<div class="control_required20 f14"><input type="text" name="zipcode" value="{%$member.zipcode%}" maxlength="10" size="10" class="col3 infoInput" /></div>
			</div>
			<div class="espcms_form_group">
				<label for="title" class="control_label16">Content</label>
				<div class="control_required20 f14"><textarea name="content" rows="5" cols="60" class="col10 infoInput"></textarea></div>
			</div>
			<div class="espcms_form_group">
				<label class="control_label16"> </label>
				<div class="control_required20">
					<input type="submit" id="submit" class="button blue2" value="Submit"/>
				</div>
			</div>
		</form>
		{%else%}
		<div class="title mb10"><div class="messageicon2"></div><div class="messtitle">Reminder</div></div>
		<div class="espcms_form_group tc f14 pt15">You have not choose goods</div>
		{%/if%}
	</div>

	{%/if%}
</div>
{%link file="en/public/footer.html"%}
</body>
</html>
