<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>{%$lngpack.sitename%}</title>
<meta name="keywords" content="{%$lngpack.keyword%}" />
<meta name="description" content="{%$lngpack.description%}" />
<script type="text/javascript" src="{%$rootdir%}js/jquery.js"></script>
<script type="text/javascript" src="{%$rootdir%}js/basicrun.js"></script>
<script type="text/javascript" src="{%$rootdir%}js/jquery.Slide.js"></script>
<link href="{%$rootpath%}css/espcms_public.css" rel="stylesheet" type="text/css" />
<link href="{%$rootpath%}css/espcms_v5div.css" rel="stylesheet" type="text/css" />
<link href="{%$rootpath%}css/espcms_page.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">
	var username_empty = "{%$lngpack.username_err%}";
	var email_match = "{%$lngpack.email_err%}";
	var seccode_empty = "{%$lngpack.seescodeerr%}";
	var moblie_validate = "{%$lngpack.moblie_validate%}";

	$(window).load(function() {
		$("#clickmenubotton li span").hover(function() {
			$(this).addClass("menuhover");
			$(this).parent().find("ul.subnav").slideDown('fast').show();
			$(this).parent().hover(function() {
			}, function() {
				$(this).parent().find("ul.subnav").fadeOut('fast');
				$(this).parent().find("span").removeClass("menuhover");
			});
		});
	});
</script>
</head>

<body>
{%link file="en/public/head.html"%}
<div class="espcms_page_bannpic"><img src="{%$rootpath%}images/bann/type_pic.jpg"/></div>

<div class="espcms_page">
	<form name="lostpassworddb" method="post" action="{%$mlink.lostpasswdsave%}" onSubmit="return lostpassword('{%$mem_isseccode%}')">
	<input type="hidden" name="tokenkey" value="{%$tokenkey.token_key%}"/>
	<div class="espcms_member_login_center espcms_formwidth_c">
		<div class="title mb20"><div class="messageicon"></div><div class="messtitle">Change Your Password</div></div>
		<div class="espcms_form_group">
			<label for="title" class="control_label16">ID</label>
			<div class="control_required20">
				<input type="text" name="username" id="username" class="col5 infoInput" value="" size="20" maxlength="15"/>
				<span id="usermsg" class="form_message">If forget will not be able to retrieve the password</span>
			</div>
		</div>
		<div class="espcms_form_group">
			<label for="istype" class="control_label16">Grundlagen </label>
			<div class="control_required20">
				<input type="radio" value="1" name="istype" onclick="ondisplayother('lastdiv2','espcms_form_group displaytrue','lastdiv1','espcms_form_group displaynone');" checked="checked"/> E-mail&nbsp;
				<input type="radio" value="2" name="istype" onclick="ondisplayother('lastdiv2','espcms_form_group displaynone','lastdiv1','espcms_form_group displaytrue')"/> Mobile
			</div>
		</div>
		<div class="espcms_form_group displaynone" id="lastdiv1">
			<label for="mobile" class="control_label16">Moblie</label>
			<div class="control_required20">
				<input type="text" name="mobile" id="mobile" class="col4 infoInput" size="18" maxlength="15"/>
				<span class="form_message">Please input binding mobile phone number</span>
			</div>
		</div>
		<div class="espcms_form_group" id="lastdiv2">
			<label for="email" class="control_label16">E-mail</label>
			<div class="control_required20">
				<input type="text" name="email" id="email" class="col4 infoInput" size="18" maxlength="15"/>
			</div>
		</div>

		{%if $mem_isseccode==1%}
		<div class="espcms_form_group">
			<label for="seccode" class="control_label16">Security code</label>
			<div class="control_required20">
				<input type="text" id="seccode" name="seccode" class="infoInput" maxlength="4" size="5" style="text-transform: uppercase;"/>
				<img id="memberseccodesrc" onclick="sessionimg('memberseccodesrc','{%$rootdir%}')" src="{%$seccodelink%}" style="cursor: pointer;height:28px;margin-left:5px;" align="absmiddle"/>
			</div>
		</div>
		{%/if%}
		<div class="espcms_form_group">
			<label class="control_label16"> </label>
			<div class="control_required20"><span class="form_message2">After verification by the password will be sent to you by system sent to your registered email</span></div>
		</div>
		<div class="espcms_form_group">
			<label class="control_label16"> </label>
			<div class="control_required20">
				<input type="submit" id="submit" class="button blue2" value="Continue"/>
			</div>
		</div>
	</div>
	</form>
</div>

{%link file="en/public/footer.html"%}
</body>
</html>
