<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>{%$lngpack.sitename%}</title>
<meta name="keywords" content="{%$lngpack.keyword%}" />
<meta name="description" content="{%$lngpack.description%}" />
<script type="text/javascript" src="{%$rootdir%}js/jquery.js"></script>
<script type="text/javascript" src="{%$rootdir%}js/basicrun.js"></script>
<script type="text/javascript" src="{%$rootdir%}js/jquery.Slide.js"></script>
<script type="text/javascript" src="{%$rootdir%}js/ajax_city.js"></script>
<script type="text/javascript" src="{%$rootdir%}js/My97DatePicker/WdatePicker.js"></script>
<link href="{%$rootpath%}css/espcms_public.css" rel="stylesheet" type="text/css" />
<link href="{%$rootpath%}css/espcms_v5div.css" rel="stylesheet" type="text/css" />
<link href="{%$rootpath%}css/espcms_page.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">
	$(window).load(function() {
		$("#clickmenubotton li span").hover(function() {
			$(this).addClass("menuhover");
			$(this).parent().find("ul.subnav").slideDown('fast').show();
			$(this).parent().hover(function() {
			}, function() {
				$(this).parent().find("ul.subnav").fadeOut('fast');
				$(this).parent().find("span").removeClass("menuhover");
			});
		});
	});
</script>
</head>

<body>
{%link file="en/public/head.html"%}
<div class="espcms_page_bannpic"><img src="{%$rootpath%}images/bann/type_pic.jpg"/></div>

<div class="espcms_page espcms_page_left_linkbg">
	<div class="espcms_page_left">
		{%list name=memmenu%}
	</div>
	<div class="espcms_page_right">
		{%if $out=='center'%}
		<div class="espcms_page_typename">Welcome!</div>
		<div class="espcms_page_location"><a href="{%$homelink%}">Home</a> » <b>{%$lngpack.member_title%}</b></div>
		<div class="espcms_page_right_line"></div>

		<div class="espcms_book_paddingbottom0 pt10">
			<div class="espcms_bbs_form">
				<b class="b1"></b><b class="b2"></b><b class="b3"></b><b class="b4"></b>
				<div class="title"><div class="messageicon2"></div><div class="messtitle">{%$member.username%}</div></div>
				<div class="content">
					<div class="espcms_form_group">
						<label for="username" class="control_label16">Time of last</label>
						<div class="control_required20 f14">{%$member.lasttime|timeformat(3)%}</div>
					</div>
					<div class="espcms_form_group">
						<label for="username" class="control_label16">IP</label>
						<div class="control_required20 f14">{%$member.lastip|ip(0)%}</div>
					</div>
					<div class="espcms_form_group">
						<label for="username" class="control_label16">Rank</label>
						<div class="control_required20 f14">{%$member.rankname%}</div>
					</div>
					<div class="espcms_form_group">
						<label for="username" class="control_label16">Integral</label>
						<div class="control_required20 f14">{%$member.integral%}</div>
					</div>
					<div class="espcms_form_group">
						<label for="username" class="control_label16">LogonCount</label>
						<div class="control_required20 f14">{%$member.visitcount%}</div>
					</div>
				</div>
				<b class="b5"></b><b class="b6"></b><b class="b7"></b><b class="b8"></b>
			</div>
		</div>

		<div class="espcms_book_paddingbottom0 pt10">
			<div class="espcms_bbs_form">
				<b class="b1"></b><b class="b2"></b><b class="b3"></b><b class="b4"></b>
				<div class="title"><div class="messageicon3"></div><div class="messtitle">Order center suggests</div></div>
				<div class="content tc">
					In this site has submitted the <u>{%$ordernum%}</u> a your order  <span class="pl5"><a class="button" href="{%$mlink.orderlist%}">Click to view the order</a></span>
				</div>
				<b class="b5"></b><b class="b6"></b><b class="b7"></b><b class="b8"></b>
			</div>
		</div>
		{%if $bbsapp==1%}
		<div class="espcms_book_paddingbottom0 pt10">
			<div class="espcms_bbs_form">
				<b class="b1"></b><b class="b2"></b><b class="b3"></b><b class="b4"></b>
				<div class="title"><div class="messageicon"></div><div class="messtitle">Last comments</div></div>
				<div class="content tc">
					You on this site has submitted the <u>{%$messagenum%}</u> time message <span class="pl5"><a class="button" href="{%$mlink.forumlist%}">Click to view the message list</a></span>
				</div>
				<b class="b5"></b><b class="b6"></b><b class="b7"></b><b class="b8"></b>
			</div>
		</div>
		{%/if%}
		{%elseif $out=='editinfo'%}
		<!--个人资料修改-->
		<script type="text/javascript">
		{%if $mem_isaddress==1%}
		$(function() {
		    sec_cityone('{%$member.country%}','{%$member.province%}');
		    sec_citytwo('{%$member.province%}','{%$member.city%}');
		    sec_district('{%$member.city%}','{%$member.district%}');
		});
		{%/if%}
		var citytwo_title = "Province";
		var citythree_title = "City";
		var district_title = "Area";
		var birthday_empty = "{%$lngpack.birthday_empty%}";
		var qq_empty = "{%$lngpack.qq_empty%}";

		function editinfo(){
			if(document.editmember.birthday.value!=""){
				if(document.editmember.birthday.value.match(/^[1-9][0-9]{3}\-[0-9]{2}\-[0-9]{2}$/ig)==null) {
					document.editmember.birthday.focus();
					alert(birthday_empty);
					return false;
				}
			}
			if(document.editmember.qq.value!=""){
				if(document.editmember.qq.value.match(/^[0-9]+$/ig)==null) {
					document.editmember.qq.focus();
					alert(qq_empty);
					return false;
				}
			}
			{%forlist from=$modelatt key=i%}
				{%if $modelatt[i].isvalidate==1%}
					{%if $modelatt[i].validatetext!=''%}
						if(document.editmember.{%$modelatt[i].attrname%}.value.match({%$modelatt[i].validatetext%}ig)==null) {
					{%else%}
						if(document.editmember.{%$modelatt[i].attrname%}.value==''){
					{%/if%}
					document.editmember.{%$modelatt[i].attrname%}.focus();
					alert('{%$modelatt[i].typename%} Input errors');
					return false;
				}
				{%/if%}
			{%/forlist%}
		}
		</script>

		<form name="editmember" id="editmember" method="post" action="{%$mlink.membersave%}" onsubmit="return editinfo()">
		<input type="hidden" name="tokenkey" value="{%$tokenkey.token_key%}"/>
		<input type="hidden" name="upurl" value="{%$upurl%}"/>
		<input type="hidden" name="inputclass" value="editinfo"/>
		<input type="hidden" name="userid" value="{%$member.userid%}"/>
		<input type="hidden" name="username" value="{%$member.username%}"/>
		<input type="hidden" name="email" value="{%$member.email%}"/>
		<input type="hidden" name="mvid" value="{%$member.mvid%}"/>
		<div class="espcms_book_paddingbottom0 pt10">
			<div class="espcms_bbs_form">
				<b class="b1"></b><b class="b2"></b><b class="b3"></b><b class="b4"></b>
				<div class="title"><div class="messageicon2"></div><div class="messtitle">Change Profile Settings</div></div>
				<div class="content">
					<div class="espcms_form_group">
						<label for="username" class="control_label">ID</label>
						<div class="control_required f14">{%$member.username%}</div>
					</div>
					<div class="espcms_form_group">
						<label for="email" class="control_label">E-mail</label>
						<div class="control_required f14">{%$member.email%}</div>
					</div>
					<div class="espcms_form_group">
						<label for="alias" class="control_label">Name</label>
						<div class="control_required">
							<input type="text" name="alias" value="{%$member.alias%}" class="col4 infoInput" maxlength="50"/>
						</div>
					</div>
					<div class="espcms_form_group">
						<label for="sex" class="control_label">Sex</label>
						<div class="control_required20 f14">
							<input type="radio" value="1" name="sex" {%if $member.sex==1%}checked{%/if%} /> Man&nbsp;
							<input type="radio" value="0" name="sex" {%if $member.sex==0%}checked{%/if%} /> Woman
						</div>
					</div>
					<div class="espcms_form_group">
						<label for="birthday" class="control_label">Birthday</label>
						<div class="control_required20 f14">
							<input type="text" name="birthday" value="{%$member.birthday|timeformat(2)%}" id="birthday" onclick="WdatePicker({el:'birthday',readOnly:true,dateFmt:'yyyy-MM-dd'})" maxlength="100" class="col4 infoInput"/>
						</div>
					</div>
					{%if $mem_isaddress==1%}
					<div class="espcms_form_group">
						<label for="title" class="control_label">District</label>
						<div class="control_required20 f14">
							<select size="1" name="cityone" class="infoInput" id="cityone">
								<option value="0" {%if $member.country==0%}selected{%/if%}>Country</option>
								<option value="1" {%if $member.country==1%}selected{%/if%}>China</option>
							</select>
							<select size="1" name="citytwo" class="infoInput" id="citytwo">
								<option selected value="0">Province</option>
							</select>
							<select size="1" name="citythree" class="infoInput" id="citythree">
								<option selected value="0">City</option>
							</select>
							<select size="1" name="district" class="infoInput" id="district">
								<option selected value="0">Area</option>
							</select>
							<span id="loading">Loading</span>
						</div>
					</div>
					{%/if%}
					<div class="espcms_form_group">
						<label for="address" class="control_label">Address</label>
						<div class="control_required20 f14">
							<input type="text" name="address" value="{%$member.address%}" maxlength="120" size="60" class="infoInput" />
						</div>
					</div>
					<div class="espcms_form_group">
						<label for="zipcode" class="control_label">Zipcode</label>
						<div class="control_required20 f14">
							<input type="text" name="zipcode" value="{%$member.zipcode%}" maxlength="10" size="10" class="infoInput"/>
						</div>
					</div>
					<div class="espcms_form_group">
						<label for="zipcode" class="control_label">Tel</label>
						<div class="control_required20 f14">
							<input type="text" name="tel" value="{%$member.tel%}" maxlength="20" size="18" class="infoInput"/>
						</div>
					</div>
					<div class="espcms_form_group">
						<label for="zipcode" class="control_label">MSM</label>
						<div class="control_required20 f14">
							<input type="text" name="msn" value="{%$member.msn%}" maxlength="50" size="30" class="infoInput"/>
						</div>
					</div>
					<div class="espcms_form_group">
						<label for="zipcode" class="control_label">QQ</label>
						<div class="control_required20 f14">
							<input type="text" name="qq" value="{%$member.qq%}" maxlength="10" size="15" class="infoInput"/>
						</div>
					</div>
					{%if count($modelatt) > 0%}
						{%forlist from=$modelatt key=list%}
						<div class="espcms_form_group">
							<label for="zipcode" class="control_label">{%$modelatt[list].typename%}</label>
							<div class="control_required20 f14">
								{%if $modelatt[list].inputtype=='string' || $modelatt[list].inputtype=='int' || $modelatt[list].inputtype=='float' || $modelatt[list].inputtype=='decimal'%}
								<input type="text" name="{%$modelatt[list].attrname%}" size="{%$modelatt[list].attrsize%}" id="{%$modelatt[list].attrname%}" value="{%$modelatt[list].attrvalue%}" maxlength="{%$modelatt[list].attrlenther%}" class="infoInput"/>
								{%elseif ($modelatt[list].inputtype=='text' || $modelatt[list].inputtype=='editor')%}
								<textarea name="{%$modelatt[list].attrname%}" id="{%$modelatt[list].attrname%}"  style="width:99%;height:{%$modelatt[list].attrrow%}px;" class="infoInput">{%$modelatt[list].attrvalue%}</textarea>
								{%elseif ($modelatt[list].inputtype=='htmltext')%}
								<textarea name="{%$modelatt[list].attrname%}" id="{%$modelatt[list].attrname%}"  style="width:99%;height:{%$modelatt[list].attrrow%}px;" class="infoInput">{%$modelatt[list].attrvalue|Html2Text('0')%}</textarea>
								{%elseif ($modelatt[list].inputtype=='selectinput')%}
								<input type="text" name="{%$modelatt[list].attrname%}" size="{%$modelatt[list].attrsize%}" id="{%$modelatt[list].attrname%}" value="{%$modelatt[list].attrvalue%}" maxlength="{%$modelatt[list].attrlenther%}" class="infoInput"/>
								<select size="1" name="{%$modelatt[list].attrname%}selectinputvalue" onchange="javascript:$('#{%$modelatt[list].attrname%}').val(this.value)">
									<option value="">{%$ST.botton_select_name%}{%$modelatt[list].typename%}</option>
									{%forlist from=$modelatt[list].selectinputvalue key=ii%}
									<option value="{%$modelatt[list].selectinputvalue[ii].name%}">{%$modelatt[list].selectinputvalue[ii].name%}</option>
									{%/forlist%}
								</select>
								{%elseif ($modelatt[list].inputtype=='datetime')%}
								<input type="text" name="{%$modelatt[list].attrname%}" size="{%$modelatt[list].attrsize%}" id="{%$modelatt[list].attrname%}"  onclick="WdatePicker({el:'{%$modelatt[list].attrname%}',readOnly:true,dateFmt:'yyyy-MM-dd HH:mm:ss'})"  value="{%$modelatt[list].attrvalue|timeformat(3)%}" maxlength="{%$modelatt[list].attrlenther%}" class="infoInput"/>
								{%elseif ($modelatt[list].inputtype=='select')%}
								<select size="1" name="{%$modelatt[list].attrname%}" id="{%$modelatt[list].attrname%}">
									<option value="">{%$ST.botton_select_name%}{%$modelatt[list].typename%}</option>
									{%forlist from=$modelatt[list].attrvalue key=ii%}
									<option {%$modelatt[list].attrvalue[ii].selected%} value="{%$modelatt[list].attrvalue[ii].name%}">{%$modelatt[list].attrvalue[ii].name%}</option>
									{%/forlist%}
								</select>
								{%elseif ($modelatt[list].inputtype=='radio')%}
									{%forlist from=$modelatt[list].attrvalue key=ii%}
									<input type="radio" value="{%$modelatt[list].attrvalue[ii].name%}" name="{%$modelatt[list].attrname%}" {%if $modelatt[list].attrvalue[ii].selected=='selected'%}checked="checked"{%/if%}/> {%$modelatt[list].attrvalue[ii].name%}&nbsp;
									{%/forlist%}
								{%elseif ($modelatt[list].inputtype=='checkbox')%}
									{%forlist from=$modelatt[list].attrvalue key=ii%}
									<input type="checkbox" value="{%$modelatt[list].attrvalue[ii].name%}" name="{%$modelatt[list].attrname%}[]" {%if $modelatt[list].attrvalue[ii].selected=='selected'%}checked="checked"{%/if%}/> {%$modelatt[list].attrvalue[ii].name%}&nbsp;
									{%/forlist%}
								{%/if%}
								{%if $modelatt[list].typeremark!=''%}<span class="form_message">{%$modelatt[list].typeremark%}</span>{%/if%}
							</div>
						</div>
						{%/forlist%}
					{%/if%}
					<div class="espcms_form_group">
						<label class="control_label"> </label>
						<div class="control_required20">
							<input type="submit" id="submit" class="button blue2" value="Update Acknowledge"/>
						</div>
					</div>
				</div>
				<b class="b5"></b><b class="b6"></b><b class="b7"></b><b class="b8"></b>
			</div>
		</div>
		</form>
		{%elseif $out=='editpassword'%}
		<!--密码修改-->
		<script type="text/javascript">
			var oldpassword_err = "{%$lngpack.oldpassword_err%}";
			var password_len = "{%$lngpack.password_err%}";
			var password_len2 = "{%$lngpack.password_len2%}";
			var password2_empty = "{%$lngpack.password2_err%}";
			var password_disaffinity = "{%$lngpack.password_equal%}";
		</script>
		<form name="editmember" id="editmember" method="post" action="{%$mlink.membersave%}" onsubmit="return editpassword()">
		<input type="hidden" name="tokenkey" value="{%$tokenkey.token_key%}"/>
		<input type="hidden" name="upurl" value="{%$upurl%}"/>
		<input type="hidden" name="inputclass" value="editpassword"/>
		<input type="hidden" name="userid" value="{%$member.userid%}"/>
		<input type="hidden" name="username" value="{%$member.username%}"/>
		<input type="hidden" name="email" value="{%$member.email%}"/>
		<div class="espcms_book_paddingbottom0 pt10">
			<div class="espcms_bbs_form">
				<b class="b1"></b><b class="b2"></b><b class="b3"></b><b class="b4"></b>
				<div class="title"><div class="messageicon2"></div><div class="messtitle">Password Settings</div></div>
				<div class="content">
					<div class="espcms_form_group">
						<label for="username" class="control_label">ID</label>
						<div class="control_required f14">{%$member.username%}</div>
					</div>
					<div class="espcms_form_group">
						<label for="email" class="control_label">E-mail</label>
						<div class="control_required f14">{%$member.email%}</div>
					</div>
					<div class="espcms_form_group">
						<label for="alias" class="control_label">Current password</label>
						<div class="control_required">
							<input type="password" name="oldpassword" id="oldpassword" size="18" maxlength="15" class="infoInput"/>
						</div>
					</div>
					<div class="espcms_form_group">
						<label for="sex" class="control_label">New password</label>
						<div class="control_required20 f14">
							<input type="password" name="password" id="password" size="18" maxlength="15" class="infoInput"/>
						</div>
					</div>
					<div class="espcms_form_group">
						<label for="address" class="control_label">Reenter new password</label>
						<div class="control_required20 f14">
							<input type="password" name="password2" id="password2" size="18" maxlength="15"  class="infoInput"/>
						</div>
					</div>
					<div class="espcms_form_group">
						<label class="control_label"> </label>
						<div class="control_required20">
							<input type="submit" id="submit" class="button blue2" value="Update Acknowledge"/>
						</div>
					</div>
				</div>
				<b class="b5"></b><b class="b6"></b><b class="b7"></b><b class="b8"></b>
			</div>
		</div>
		</form>
		{%elseif $out=='editemail'%}
		<!--邮箱修改-->
		<script type="text/javascript">
			var password_len = "{%$lngpack.password_err%}";
			var email_err = "{%$lngpack.email_err%}";
		</script>

		<form name="editmember" id="editmember" method="post" action="{%$mlink.membersave%}" onsubmit="return editmail()">
		<input type="hidden" name="tokenkey" value="{%$tokenkey.token_key%}"/>
		<input type="hidden" name="upurl" value="{%$upurl%}"/>
		<input type="hidden" name="inputclass" value="editmail"/>
		<input type="hidden" name="userid" value="{%$member.userid%}"/>
		<input type="hidden" name="username" value="{%$member.username%}"/>
		<div class="espcms_book_paddingbottom0 pt10">
			<div class="espcms_bbs_form">
				<b class="b1"></b><b class="b2"></b><b class="b3"></b><b class="b4"></b>
				<div class="title"><div class="messageicon2"></div><div class="messtitle">E-mail Settings</div></div>
				<div class="content">
					<div class="espcms_form_group">
						<label for="username" class="control_label">ID</label>
						<div class="control_required f14">{%$member.username%}</div>
					</div>
					<div class="espcms_form_group">
						<label for="email" class="control_label">Original email</label>
						<div class="control_required f14">{%$member.email%}</div>
					</div>
					<div class="espcms_form_group">
						<label for="alias" class="control_label">Password</label>
						<div class="control_required">
							<input type="password" name="password" id="password" size="18" maxlength="15" class="infoInput"/>
						</div>
					</div>
					<div class="espcms_form_group">
						<label for="sex" class="control_label">The new email</label>
						<div class="control_required20 f14">
							<input type="text" name="email" id="email" size="30" maxlength="100" class="infoInput" onblur="checktypename('email',this.value,'{%$mlink.checkusername%}','mailmsg','{%$lngpack.mem_regemail_ok%}','{%$lngpack.mem_regemail_no%}','editmailsubmit');" />
							<span id="mailmsg" class="form_message">Please fill in your real email for password back and related notification service</span>
						</div>
					</div>
					<div class="espcms_form_group">
						<label class="control_label"> </label>
						<div class="control_required20">
							<input type="submit" id="submit" class="button blue2" value="Update Acknowledge"/>
						</div>
					</div>
				</div>
				<b class="b5"></b><b class="b6"></b><b class="b7"></b><b class="b8"></b>
			</div>
		</div>
		</form>
		{%elseif $out=='moblieedit'%}
		<!--手机号码增加-->
		<script type="text/javascript">
			var moblie_validate = "{%$lngpack.moblie_validate%}";
		</script>
		<form name="editmoblie" id="editmoblie" method="post" action="{%$mlink.moblie_validatecode%}" onsubmit="return moblievalidate(1)">
		<input type="hidden" name="tokenkey" value="{%$tokenkey.token_key%}"/>
		<input type="hidden" name="userid" value="{%$member.userid%}"/>
		<input type="hidden" name="username" value="{%$member.username%}"/>
		<input type="hidden" name="inputclass" value="add"/>
		<div class="espcms_book_paddingbottom0 pt10">
			<div class="espcms_bbs_form">
				<b class="b1"></b><b class="b2"></b><b class="b3"></b><b class="b4"></b>
				<div class="title"><div class="messageicon2"></div><div class="messtitle">Mobile phone binding</div></div>
				<div class="content">
					<div class="espcms_form_group">
						<label for="username" class="control_label">ID</label>
						<div class="control_required f14">{%$member.username%}</div>
					</div>
					<div class="espcms_form_group">
						<label for="email" class="control_label"></label>
						<div class="control_required f14">You haven't binding mobile phone, the binding mobile phone is completely free, I will for your cell phone information strictly confidential!</div>
					</div>
					<div class="espcms_form_group">
						<label for="alias" class="control_label">Mobile</label>
						<div class="control_required">
							<input type="text" name="mobile" id="mobile" value="{%$member.mobile%}"size="20" maxlength="11" class="infoInput" />
						</div>
					</div>
					<div class="espcms_form_group">
						<label class="control_label"> </label>
						<div class="control_required20">
							<input type="submit" id="submit" class="button blue2" value="Next"/>
						</div>
					</div>
				</div>
				<b class="b5"></b><b class="b6"></b><b class="b7"></b><b class="b8"></b>
			</div>
		</div>
		</form>
		{%elseif $out=='moblievalidatecode'%}
		<!--手机号码增加-->
		<script type="text/javascript">
			var seccode_empty = "{%$lngpack.seescodeerr%}";
			var password_err = "{%$lngpack.password_err%}";
		</script>
		<script type="text/javascript" src="{%$rootdir%}js/mobliecode.js"></script>
		<form name="editmoblie" id="editmoblie" method="post" action="{%$mlink.moblie_validatesave%}" onsubmit="return moblievalidate(2)">
		<input type="hidden" name="tokenkey" value="{%$tokenkey.token_key%}"/>
		<input type="hidden" name="userid" value="{%$member.userid%}"/>
		<input type="hidden" name="username" value="{%$member.username%}"/>
		<input type="hidden" name="mobile" value="{%$member.moblie%}"/>
		<input type="hidden" name="inputclass" value="1"/>
		<div class="espcms_book_paddingbottom0 pt10">
			<div class="espcms_bbs_form">
				<b class="b1"></b><b class="b2"></b><b class="b3"></b><b class="b4"></b>
				<div class="title"><div class="messageicon2"></div><div class="messtitle">Mobile Number binding and validation</div></div>
				<div class="content">
					<div class="espcms_form_group">
						<label for="username" class="control_label">ID</label>
						<div class="control_required f14">{%$member.username%}</div>
					</div>
					<div class="espcms_form_group">
						<label for="username" class="control_label">Moblie</label>
						<div class="control_required f14">{%$member.moblie%}</div>
					</div>
					<div class="espcms_form_group">
						<label for="email" class="control_label">Verification code</label>
						<div class="control_required f14">
							<input type="text" name="mobliesn" id="mobliesn" size="10" maxlength="10" class="infoInput" />
							<input name="getmobliecodebotton" id="getmobliecodebotton" class="button rosy" type="button" value="Click" onclick="getmobliecode('{%$member.moblie%}','{%$member.userid%}','{%$member.username%}','{%$mlink.moblie_getvalidatecode%}');">
							<div class="mobliecodestr displaynone" id="mobliecodestr">
								If you have not received the check messages within 2 minutes, you can click the button below to get verification code.<br/>
								<input id="btnSendCode" class="button rosy" type="button" value="Send Again" onclick="sendgetmobliecode('{%$member.moblie%}','{%$member.userid%}','{%$member.username%}','{%$mlink.moblie_getvalidatecode%}')" />
							</div>
						</div>
					</div>
					<div class="espcms_form_group">
						<label for="alias" class="control_label">Password</label>
						<div class="control_required">
							<input type="password" name="password" id="password" size="18" maxlength="15" class="infoInput"/>
						</div>
					</div>
					<div class="espcms_form_group">
						<label class="control_label"> </label>
						<div class="control_required20">
							<input type="submit" id="submit" class="button blue2" value="Confirm"/>
						</div>
					</div>
				</div>
				<b class="b5"></b><b class="b6"></b><b class="b7"></b><b class="b8"></b>
			</div>
		</div>
		</form>
		{%elseif $out=='moblievalidate'%}
		<!--手机修改-->
		<script type="text/javascript">
			var seccode_empty = "{%$lngpack.seescodeerr%}";
			var password_err = "{%$lngpack.password_err%}";
		</script>
		<script type="text/javascript" src="{%$rootdir%}js/mobliecode.js"></script>
		<form name="editmoblie" id="editmoblie" method="post" action="{%$mlink.moblie_validatecode%}" onsubmit="return moblievalidate(2)">
		<input type="hidden" name="tokenkey" value="{%$tokenkey.token_key%}"/>
		<input type="hidden" name="userid" value="{%$member.userid%}"/>
		<input type="hidden" name="username" value="{%$member.username%}"/>
		<input type="hidden" name="mobile" value="{%$member.mobile%}"/>
		<input type="hidden" name="inputclass" value="edit"/>
		<div class="espcms_book_paddingbottom0 pt10">
			<div class="espcms_bbs_form">
				<b class="b1"></b><b class="b2"></b><b class="b3"></b><b class="b4"></b>
				<div class="title"><div class="messageicon2"></div><div class="messtitle">Mobile phone binding to lift and modification</div></div>
				<div class="content">
					<div class="espcms_form_group">
						<label for="username" class="control_label">ID</label>
						<div class="control_required f14">{%$member.username%}</div>
					</div>
					<div class="espcms_form_group">
						<label for="username" class="control_label">Mobile</label>
						<div class="control_required f14">{%$member.mobile%}</div>
					</div>
					<div class="espcms_form_group">
						<label for="email" class="control_label">Verification code</label>
						<div class="control_required f14">
							<input type="text" name="mobliesn" id="mobliesn" size="10" maxlength="10" class="infoInput" />
							<input name="getmobliecodebotton" id="getmobliecodebotton" class="button rosy" type="button" value="Click" onclick="getmobliecode('{%$member.moblie%}','{%$member.userid%}','{%$member.username%}','{%$mlink.moblie_getvalidatecode%}');">
							<div class="mobliecodestr displaynone" id="mobliecodestr">
								If you have not received the check messages within 2 minutes, you can click the button below to get verification code.<br/>
								<input id="btnSendCode" class="button rosy" type="button" value="Send Again" onclick="sendgetmobliecode('{%$member.moblie%}','{%$member.userid%}','{%$member.username%}','{%$mlink.moblie_getvalidatecode%}')" />
							</div>
						</div>
					</div>
					<div class="espcms_form_group">
						<label for="alias" class="control_label">Password</label>
						<div class="control_required">
							<input type="password" name="password" id="password" size="18" maxlength="15" class="infoInput"/>
						</div>
					</div>
					<div class="espcms_form_group">
						<label class="control_label"> </label>
						<div class="control_required20">
							<input type="submit" id="submit" class="button blue2" value="Remove"/>
						</div>
					</div>
				</div>
				<b class="b5"></b><b class="b6"></b><b class="b7"></b><b class="b8"></b>
			</div>
		</div>
		</form>
		{%elseif $out=='orderlist'%}
		<div class="espcms_page_typename">Order</div>
		<div class="espcms_page_location"><a href="{%$homelink%}">Home</a> » <b>{%$lngpack.member_title%}</b></div>
		<div class="espcms_page_right_line"></div>

			{%if count($array) > 0%}
			<table style="width: 100%" class="tablelist mt10">
				<tr>
					<td class="td01">Order Number</td>
					<td class="td01">Order Amount</td>
					<td class="td01">Order Status</td>
					<td class="td01">Time</td>
					<td class="td01">Operating</td>
				</tr>
				{%forlist from=$array key=i%}
				<tr>
					<td class="td02 tc"><a href="{%$array[i].link%}" class="infolink01">{%$array[i].ordersn%}</a></td>
					<td class="td02 tr">{%$moneytype%}{%$array[i].orderamount%}</td>
					<td class="td02 colorgreg tc">{%$array[i].ordertypename%}</td>
					<td class="td02 tc">{%$array[i].addtime|timeformat(4)%}</td>
					<td class="td02 tc">
						<a href="{%$array[i].link%}" class="button blue2">View Order</a>
						{%if $array[i].ordertype==1%}<a href="javascript:if (confirm('Are you sure you want to cancel the order?')) location.href='{%$array[i].dlink%}';" class="button">Cancel Order</a>{%/if%}
					</td>
				</tr>
				{%/forlist%}
			</table>

			<div class="espcms_page_botton">
				<div id="pagelist">{%$pagetext%}</div>
			</div>
			<div class="espcms_page_botton">
				<div id="pagination" class="pagination">
					{%$pagebotton%}
				</div>
			</div>
			{%else%}
			<div class="espcms_page_botton">
				<div id="pagination">No content</div>
			</div>
			{%/if%}
		{%elseif $out=='orderread'%}
		<!--订单基本信息-->
		<script type="text/javascript">
		{%if $mem_isaddress==1%}
		$(function() {
		    sec_cityone('{%$read.country%}','{%$read.province%}');
		    sec_citytwo('{%$read.province%}','{%$read.city%}');
		    sec_district('{%$read.city%}','{%$read.district%}');
		});
		{%/if%}
		var citytwo_title = "Province";
		var citythree_title = "City";
		var district_title = "Area";
		var address_title = "{%$lngpack.address_title%}";
		var alias_empty = "{%$lngpack.alias_empty%}";
		var email_err = "{%$lngpack.email_err%}";
		var tel_empty = "{%$lngpack.tel_empty%}";
		</script>
		<div class="espcms_book_paddingbottom0 pt10">
			<div class="espcms_bbs_form">
				<b class="b1"></b><b class="b2"></b><b class="b3"></b><b class="b4"></b>
				<div class="title"><div class="messageicon3"></div><div class="messtitle">Order Information</div></div>
				<div class="content">
					<div class="espcms_form_group">
						<label for="username" class="control_label">Order Number</label>
						<div class="control_required f14">{%$read.ordersn%}</div>
					</div>
					<div class="espcms_form_group">
						<label for="addtime" class="control_label">Time</label>
						<div class="control_required f14">{%$read.addtime|timeformat(4)%}</div>
					</div>
					<div class="espcms_form_group">
						<label for="ordertypename" class="control_label">Status</label>
						<div class="control_required f14">{%$read.ordertypename%}</div>
					</div>
				</div>
				<div class="title"><div class="messageicon3"></div><div class="messtitle">Product List</div></div>
				<div class="content">
					{% if count($array) > 0 %}
					<table style="width: 100%" class="tablelist">
						<tr>
							<td class="td01" valign="middle">Number</td>
							<td class="td01" valign="middle">Product Name</td>
							<td class="td01" valign="middle">Photo</td>
							<td class="td01" valign="middle" align="right">Price</td>
							<td class="td01" valign="middle">Quantity</td>
							<td class="td01" valign="middle" align="right">Subtotal</td>
						</tr>
						{%forlist from=$array key=i%}
						<tr>
							<td class="td02">{%$array[i].tsn%}</td>
							<td class="td02"><a target="_blank" title="{%$array[i].title%}" href="{%$array[i].link%}">{%$array[i].title|cutstr(35)%}</a></td>
							<td class="td02"><img src="{%$array[i].pic|zoom(90,90)%}"></td>
							<td class="td02" valign="middle" align="right">{%$moneytype%}{%$array[i].bprice%}</td>
							<td class="td02 colorgreg" valign="middle">{%$array[i].amount%}</td>
							<td class="td02" align="right">{%$moneytype%}{%$array[i].countprice%}</td>
						</tr>
						{%/forlist%}
					</table>
					{%else%}
					<table width="100%" class="tablelist">
						<tr align="center" class="td02"><td valign="middle"> No product</td></tr>
					</table>
					{%/if%}
				</div>
				<div class="title"><div class="messageicon3"></div><div class="messtitle">The amount and payment</div></div>
				<div class="content">
					<div class="espcms_form_group">
						<label for="productmoney" class="control_label">Total</label>
						<div class="control_required f14">{%$moneytype%}{%$read.productmoney%}</div>
					</div>
					{%if $read.shippingmoney>0%}
					<div class="espcms_form_group">
						<label for="shippingmoney" class="control_label">Shipping</label>
						<div class="control_required f14">{%$moneytype%}{%$read.shippingmoney%}</div>
					</div>
					{%/if%}
					{%if $read.discount>0%}
					<div class="espcms_form_group">
						<label for="discount" class="control_label">Discount</label>
						<div class="control_required f14">{%$moneytype%}{%$read.discount%}</div>
					</div>
					{%/if%}
					<div class="espcms_form_group">
						<label for="productmoney" class="control_label">Total</label>
						<div class="control_required f14">Total goods{%$moneytype%}{%$read.productmoney%} - Discount{%$moneytype%}{%$read.discount%} + Postage{%$moneytype%}{%$read.shippingmoney%} + Commission{%$moneytype%}{%$read.paymoney%} = {%$moneytype%}{%$read.orderamount%}</div>
					</div>
					{%if $read.paytime>0%}
					<div class="espcms_form_group">
						<label for="payname" class="control_label">Payment</label>
						<div class="control_required f14">{%$pay.payname%}</div>
					</div>
					<div class="espcms_form_group">
						<label for="paysn" class="control_label">Payment document</label>
						<div class="control_required f14">{%$read.paysn%}</div>
					</div>
					<div class="espcms_form_group">
						<label for="paytime" class="control_label">Payment time</label>
						<div class="control_required f14">{%$read.paytime|timeformat(4)%}</div>
					</div>
					{%else%}
					<div class="espcms_form_group">{%$orderonline%}</div>
					{%/if%}
				</div>
				{%if $read.ordertype==1 || $read.ordertype==2%}
				<div class="title"><div class="messageicon3"></div><div class="messtitle">Receiving information</div></div>
				<div class="content">
					<form name="ordersaveform" method="post" action="{%$mlink.ordereditsave%}" onsubmit="return ordersave()">
					<input type="hidden" name="tokenkey" value="{%$tokenkey.token_key%}"/>
					<input type="hidden" name="oid" value="{%$read.oid%}"/>
					<input type="hidden" name="email" value="{%$read.email%}"/>
					<div class="espcms_form_group">
						<label for="alias" class="control_label">CONSIGNEE</label>
						<div class="control_required"><input type="text" name="alias" value="{%$read.consignee%}" maxlength="50" size="30" class="infoInput"/></div>
					</div>
					<div class="espcms_form_group">
						<label for="email" class="control_label">E-mail</label>
						<div class="control_required f14">{%$read.email%}</div>
					</div>
					<div class="espcms_form_group">
						<label for="tel" class="control_label">Tel</label>
						<div class="control_required"><input type="text" name="tel" value="{%$read.tel%}" maxlength="20" size="30" class="infoInput"/></div>
					</div>
					<div class="espcms_form_group">
						<label for="mobile" class="control_label">Mobile</label>
						<div class="control_required"><input type="text" name="mobile" value="{%$read.mobile%}" maxlength="15" size="30" class="infoInput"/></div>
					</div>
					{%if $mem_isaddress==1%}
					<div class="espcms_form_group">
						<label for="title" class="control_label">District</label>
						<div class="control_required ">
							<select size="1" name="cityone" class="infoInput" id="cityone">
								<option value="0" {%if $member.country==0%}selected{%/if%}>Country</option>
								<option value="1" {%if $member.country==1%}selected{%/if%}>China</option>
							</select>
							<select size="1" name="citytwo" class="infoInput" id="citytwo">
								<option selected value="0">Province</option>
							</select>
							<select size="1" name="citythree" class="infoInput" id="citythree">
								<option selected value="0">City</option>
							</select>
							<select size="1" name="district" class="infoInput" id="district">
								<option selected value="0">Area</option>
							</select>
							<span id="loading">Loading</span>
						</div>
					</div>
					{%/if%}
					<div class="espcms_form_group">
						<label for="address" class="control_label">Address</label>
						<div class="control_required"><input type="text" name="address" value="{%$read.address%}" maxlength="200" size="60" class="infoInput"/></div>
					</div>
					<div class="espcms_form_group">
						<label for="zipcode" class="control_label">Zipcode</label>
						<div class="control_required"><input type="text" name="zipcode" value="{%$read.zipcode%}" maxlength="10" size="10" class="infoInput"/></div>
					</div>
					<div class="espcms_form_group">
						<label for="sendtime" class="control_label">Delivery Time</label>
						<div class="control_required">
							<select size="1" name="sendtime" class="infoInput">
							<option value="1" {%if $read.sendtime==1%}selected{%/if%}>Working day, weekend and holiday delivery available</option>
							<option value="2" {%if $read.sendtime==2%}selected{%/if%}>Only weekends, holidays and delivery (working days do not send)</option>
							<option value="3" {%if $read.sendtime==3%}selected{%/if%}>Only working days delivery (weekends, holidays do not send)</option>
							<option value="4" {%if $read.sendtime==4%}selected{%/if%}>Try to arrange delivery time, please Remarks</option>
						    </select>
						</div>
					</div>
					<div class="espcms_form_group">
						<label for="shippingtime" class="control_label">Delivery mode</label>
						<div class="control_required">
							{%$shiping.title%}
							{%if $read.shippingtime==0%}
							<font color="red"><b>No delivery</b></font>
							{%else%}
							<font color="#008A00">Has delivery</font>&nbsp;&nbsp;
							<b>Logistics：</b><u>{%$read.shippingsn%}</u>&nbsp;&nbsp;
							<b>Delivery time：</b><u>{%$read.shippingtime|timeformat(4)%}</u>
							{%/if%}
						</div>
					</div>
					<div class="espcms_form_group">
						<label for="content" class="control_label">Remarks</label>
						<div class="control_required">
							<textarea name="content" rows="5" cols="50" class="col11 infoInput">{%$read.content%}</textarea>
						</div>
					</div>
					<div class="espcms_form_group">
						<label for="email" class="control_label"></label>
						<div class="control_required">
							<input type="submit" id="submit" class="button blue2" value="Save Changes"/>
						</div>
					</div>
				</div>
				{%else%}
				<div class="title"><div class="messageicon3"></div><div class="messtitle">Receiving information</div></div>
				<div class="content">
					<div class="espcms_form_group">
						<label for="email" class="control_label">CONSIGNEE</label>
						<div class="control_required f14">{%$read.consignee%}</div>
					</div>
					<div class="espcms_form_group">
						<label for="email" class="control_label">E-mail</label>
						<div class="control_required f14">{%$read.email%}</div>
					</div>
					{%if $mem_isaddress==1%}
					<div class="espcms_form_group">
						<label for="title" class="control_label">District</label>
						<div class="control_required f14">
							<select size="1" name="cityone" class="infoInput" id="cityone" disabled>
								<option value="0" {%if $member.country==0%}selected{%/if%}>Country</option>
								<option value="1" {%if $member.country==1%}selected{%/if%}>China</option>
							</select>
							<select size="1" name="citytwo" class="infoInput" id="citytwo" disabled>
								<option selected value="0">Province</option>
							</select>
							<select size="1" name="citythree" class="infoInput" id="citythree" disabled>
								<option selected value="0">City</option>
							</select>
							<select size="1" name="district" class="infoInput" id="district" disabled>
								<option selected value="0">Area</option>
							</select>
							<span id="loading">Loading</span>
						</div>
					</div>
					{%/if%}
					<div class="espcms_form_group">
						<label for="email" class="control_label">Address</label>
						<div class="control_required f14">{%$read.address%}</div>
					</div>
					{%if $read.zipcode%}
					<div class="espcms_form_group">
						<label for="email" class="control_label">Zipcode</label>
						<div class="control_required f14">{%$read.zipcode%}</div>
					</div>
					{%/if%}
					<div class="espcms_form_group">
						<label for="email" class="control_label">Tel</label>
						<div class="control_required f14">{%$read.tel%}</div>
					</div>
					<div class="espcms_form_group">
						<label for="email" class="control_label">Moblie</label>
						<div class="control_required f14">{%$read.mobile%}</div>
					</div>
					<div class="espcms_form_group">
						<label for="email" class="control_label">Delivery time</label>
						<div class="control_required f14">
							{%if $read.sendtime==1%}Working day, weekend and holiday delivery available{%/if%}
							{%if $read.sendtime==2%}Only weekends, holidays and delivery (working days do not send){%/if%}
							{%if $read.sendtime==3%}Working day delivery (weekends, holidays do not send){%/if%}
							{%if $read.sendtime==4%}Try to arrange delivery time, please Remarks{%/if%}
						</div>
					</div>
					<div class="espcms_form_group">
						<label for="email" class="control_label">Delivery mode</label>
						<div class="control_required f14">
							{%$shiping.title%}
							{%if $read.shippingtime==0%}
							<font color="red"><b>No delivery</b></font>
							{%else%}
							<font color="#008A00">Has delivery</font>&nbsp;&nbsp;
							<b>Logistics：</b><u>{%$read.shippingsn%}</u>&nbsp;&nbsp;
							<b>Delivery time：</b><u>{%$read.shippingtime|timeformat(4)%}</u>
							{%/if%}
						</div>
					</div>
				</div>
				{%/if%}
				<div class="title"><div class="messageicon3"></div><div class="messtitle">Other informationn</div></div>
				<div class="content">
					{%if $read.invpayee%}
					<div class="espcms_form_group">
						<label for="email" class="control_label">Invoice Title</label>
						<div class="control_required f14">{%$read.invpayee%}</div>
					</div>
					{%/if%}
					{%if $read.invcontent%}
					<div class="espcms_form_group">
						<label for="email" class="control_label">Invoice</label>
						<div class="control_required f14">{%$read.invcontent%}</div>
					</div>
					{%/if%}
					{%if $read.content%}
					<div class="espcms_form_group">
						<label for="email" class="control_label">Remarks</label>
						<div class="control_required f14">{%$read.content%}</div>
					</div>
					{%/if%}
					{%if $read.integral>0%}
					<div class="espcms_form_group">
						<label for="email" class="control_label">Integral</label>
						<div class="control_required f14">{%$read.integral%}</div>
					</div>
					{%/if%}
				</div>
				<b class="b5"></b><b class="b6"></b><b class="b7"></b><b class="b8"></b>
			</div>
		</div>
		{%elseif $out=='enquirylist'%}
		<!--询价列表-->
		<div class="espcms_page_typename">Inquiry</div>
		<div class="espcms_page_location"><a href="{%$homelink%}">Home</a> » <b>{%$lngpack.member_title%}</b></div>
		<div class="espcms_page_right_line"></div>

			{%if count($array) > 0%}
			<table style="width: 100%" class="tablelist mt10">
				<tr>
					<td class="td01">Inquiry Number</td>
					<td class="td01">Inquiry Status</td>
					<td class="td01">Time</td>
					<td class="td01">Operating</td>
				</tr>
				{%forlist from=$array key=i%}
				<tr>
					<td class="td02 tc"><a href="{%$array[i].link%}" class="infolink01">{%$array[i].enquirysn%}</a></td>
					<td class="td02 colorgreg tr">
						{%if $read.isclass==0%}
						New Inquiry
						{%elseif $read.isclass==1%}
						Has returned
						{%elseif $read.isclass==2%}
						Obsolete
						{%/if%}
					</td>
					<td class="td02 tc">{%$array[i].addtime|timeformat(4)%}</td>
					<td class="td02 tc">
						<a href="{%$array[i].link%}" class="button blue2">View Inquiry</a>
						{%if $array[i].isclass==0%}<a href="javascript:if (confirm('Are you sure you want to cancel?')) location.href='{%$array[i].dlink%}';" class="button">Cancel Inquiry</a>{%/if%}
					</td>
				</tr>
				{%/forlist%}
			</table>

			<div class="espcms_page_botton">
				<div id="pagelist">{%$pagetext%}</div>
			</div>
			<div class="espcms_page_botton">
				<div id="pagination" class="pagination">
					{%$pagebotton%}
				</div>
			</div>
			{%else%}
			<div class="espcms_page_botton">
				<div id="pagination">No content</div>
			</div>
			{%/if%}
		{%elseif $out=='enquiryread'%}
		<!--询价信息-->
		<script type="text/javascript">
		{%if $mem_isaddress==1%}
		$(function() {
		    sec_cityone('{%$read.country%}','{%$read.province%}');
		    sec_citytwo('{%$read.province%}','{%$read.city%}');
		    sec_district('{%$read.city%}','{%$read.district%}');
		});
		{%/if%}
		var citytwo_title = "Province";
		var citythree_title = "City";
		var district_title = "Area";
		var address_title = "{%$lngpack.address_title%}";
		var alias_empty = "{%$lngpack.alias_empty%}";
		var email_err = "{%$lngpack.email_err%}";
		var tel_empty = "{%$lngpack.tel_empty%}";
		</script>
		<div class="espcms_book_paddingbottom0 pt10">
			<div class="espcms_bbs_form">
				<b class="b1"></b><b class="b2"></b><b class="b3"></b><b class="b4"></b>
				<div class="title"><div class="messageicon"></div><div class="messtitle">Information Inquiry</div></div>
				<div class="content">
					<div class="espcms_form_group">
						<label for="email" class="control_label">Inquiry No</label>
						<div class="control_required f14">{%$read.enquirysn%}</div>
					</div>
					<div class="espcms_form_group">
						<label for="email" class="control_label">Time</label>
						<div class="control_required f14">{%$read.addtime|timeformat(4)%}</div>
					</div>
					<div class="espcms_form_group">
						<label for="email" class="control_label">Status</label>
						<div class="control_required f14">
							{%if $read.isclass==0%}
							New Inquiry
							{%elseif $read.isclass==1%}
							Has returned
							{%elseif $read.isclass==2%}
							Obsolete
							{%/if%}
						</div>
					</div>
				</div>
				<div class="title"><div class="messageicon"></div><div class="messtitle">Product List</div></div>
				<div class="content">
					{% if count($array) > 0 %}
					<table style="width: 100%" class="tablelist">
						<tr>
							<td class="td01" valign="middle">Product Name</td>
							<td class="td01" valign="middle">Photo</td>
							<td class="td01" valign="middle">Product ID</td>
							<td class="td01" valign="middle">Quantity</td>
						</tr>
						{%forlist from=$array key=i%}
						<tr>
							<td class="td02"><a target="_blank" title="{%$array[i].title%}" href="{%$array[i].link%}">{%$array[i].title|cutstr(30)%}</a></td>
							<td class="td02"><img src="{%$array[i].pic|zoom(90,90)%}"></td>
							<td class="td02" valign="middle">{%$array[i].tsn%}</td>
							<td class="td02 colorgreg" valign="middle">{%$array[i].amount%}</td>
						</tr>
						{%/forlist%}
					</table>
					{%else%}
					<table width="100%" class="tablelist">
						<tr align="center" class="td02"><td valign="middle">No products</td></tr>
					</table>
					{%/if%}
				</div>
				{%if $read.isclass==0%}
				<div class="title"><div class="messageicon"></div><div class="messtitle">Contact Information</div></div>
				<div class="content">
					<form name="mainform" method="post" action="{%$mlink.enquiryeditsave%}" onsubmit="return enquirysave()">
					<input type="hidden" name="tokenkey" value="{%$tokenkey.token_key%}"/>
					<input type="hidden" name="eid" value="{%$read.eid%}"/>
					<input type="hidden" name="email" value="{%$read.email%}"/>
						<div class="espcms_form_group">
							<label for="email" class="control_label">Name</label>
							<div class="control_required f14"><input type="text" name="linkman" value="{%$read.linkman%}" maxlength="50" size="30" class="infoInput"/></div>
						</div>
						<div class="espcms_form_group">
							<label for="email" class="control_label">Sex</label>
							<div class="control_required f14">
								<input type="radio" value="1" name="sex" {%if $read.sex==1%}checked{%/if%} /> Man&nbsp;
								<input type="radio" value="0" name="sex" {%if $read.sex==0%}checked{%/if%} /> Woman
							</div>
						</div>
						<div class="espcms_form_group">
							<label for="email" class="control_label">E-mail</label>
							<div class="control_required f14">{%$read.email%}</div>
						</div>
						<div class="espcms_form_group">
							<label for="tel" class="control_label">Tel</label>
							<div class="control_required"><input type="text" name="tel" value="{%$read.tel%}" maxlength="20" size="30" class="infoInput"/></div>
						</div>
						<div class="espcms_form_group">
							<label for="mobile" class="control_label">Mobile</label>
							<div class="control_required"><input type="text" name="mobile" value="{%$read.mobile%}" maxlength="15" size="30" class="infoInput"/></div>
						</div>
						<div class="espcms_form_group">
							<label for="email" class="control_label">FAX</label>
							<div class="control_required f14"><input type="text" name="fax" value="{%$read.fax%}" maxlength="20" size="30" class="smallInput"/></div>
						</div>
						{%if $mem_isaddress==1%}
						<div class="espcms_form_group">
							<label for="title" class="control_label">District</label>
							<div class="control_required">
								<select size="1" name="cityone" class="infoInput" id="cityone">
									<option value="0" {%if $member.country==0%}selected{%/if%}>Country</option>
									<option value="1" {%if $member.country==1%}selected{%/if%}>China</option>
								</select>
								<select size="1" name="citytwo" class="infoInput" id="citytwo">
									<option selected value="0">Province</option>
								</select>
								<select size="1" name="citythree" class="infoInput" id="citythree">
									<option selected value="0">City</option>
								</select>
								<select size="1" name="district" class="infoInput" id="district">
									<option selected value="0">Area</option>
								</select>
								<span id="loading">Loading</span>
							</div>
						</div>
						{%/if%}
						<div class="espcms_form_group">
							<label for="address" class="control_label">Address</label>
							<div class="control_required"><input type="text" name="address" value="{%$read.address%}" maxlength="200" size="60" class="infoInput"/></div>
						</div>
						<div class="espcms_form_group">
							<label for="zipcode" class="control_label">Zipcode</label>
							<div class="control_required"><input type="text" name="zipcode" value="{%$read.zipcode%}" maxlength="10" size="10" class="infoInput"/></div>
						</div>
						<div class="espcms_form_group">
							<label for="content" class="control_label">Remarks</label>
							<div class="control_required">
								<textarea name="content" rows="5" cols="50" class="col11 infoInput">{%$read.content%}</textarea>
							</div>
						</div>
						<div class="espcms_form_group">
							<label for="submit" class="control_label"></label>
							<div class="control_required">
								<input type="submit" id="submit" class="button blue2" value="Save Changes"/>
							</div>
						</div>
					</form>
				</div>
				{%else%}
					<div class="title"><div class="messageicon"></div><div class="messtitle">Contact Information</div></div>
					<div class="content">
						<div class="espcms_form_group">
							<label for="email" class="control_label">Name</label>
							<div class="control_required f14">{%$read.linkman%}</div>
						</div>
						<div class="espcms_form_group">
							<label for="email" class="control_label">E-mail</label>
							<div class="control_required f14">{%$read.email%}</div>
						</div>
						{%if $mem_isaddress==1%}
						<div class="espcms_form_group">
							<label for="title" class="control_label">District</label>
							<div class="control_required f14">
								<select size="1" name="cityone" class="infoInput" id="cityone" disabled>
									<option value="0" {%if $member.country==0%}selected{%/if%}>Country</option>
									<option value="1" {%if $member.country==1%}selected{%/if%}>China</option>
								</select>
								<select size="1" name="citytwo" class="infoInput" id="citytwo" disabled>
									<option selected value="0">Province</option>
								</select>
								<select size="1" name="citythree" class="infoInput" id="citythree" disabled>
									<option selected value="0">City</option>
								</select>
								<select size="1" name="district" class="infoInput" id="district" disabled>
									<option selected value="0">Area</option>
								</select>
								<span id="loading">Loading</span>
							</div>
						</div>
						{%/if%}
						<div class="espcms_form_group">
							<label for="email" class="control_label">Address</label>
							<div class="control_required f14">{%$read.address%}</div>
						</div>
						{%if $read.zipcode%}
						<div class="espcms_form_group">
							<label for="email" class="control_label">Zipcode</label>
							<div class="control_required f14">{%$read.zipcode%}</div>
						</div>
						{%/if%}
						<div class="espcms_form_group">
							<label for="email" class="control_label">Tel</label>
							<div class="control_required f14">{%$read.tel%}</div>
						</div>
						{%if $read.fax%}
						<div class="espcms_form_group">
							<label for="email" class="control_label">Fax</label>
							<div class="control_required f14">{%$read.fax%}</div>
						</div>
						{%/if%}
						<div class="espcms_form_group">
							<label for="email" class="control_label">Moblie</label>
							<div class="control_required f14">{%$read.mobile%}</div>
						</div>
						{%if $read.content%}
						<div class="espcms_form_group">
							<label for="email" class="control_label">Remarks</label>
							<div class="control_required f14">{%$read.content%}</div>
						</div>
						{%/if%}
					</div>
					{%if $read.isclass==1%}
					<div class="title"><div class="messageicon"></div><div class="messtitle">Replies</div></div>
					<div class="content">
						<div class="espcms_form_group">
							<label for="email" class="control_label">Replies results</label>
							<div class="control_required f14">{%$read.editresult%}</div>
						</div>
						<div class="espcms_form_group">
							<label for="email" class="control_label">Response time:</label>
							<div class="control_required f14">{%$read.edittime|timeformat(4)%}</div>
						</div>
					</div>
					{%/if%}
				{%/if%}
				<b class="b5"></b><b class="b6"></b><b class="b7"></b><b class="b8"></b>
			</div>
		</div>
		{%elseif $out=='forumlist'%}
		<!--留言列表-->
		<div class="espcms_page_typename">Messaging</div>
		<div class="espcms_page_location"><a href="{%$homelink%}">Home</a> » <b>{%$lngpack.member_title%}</b></div>
		<div class="espcms_page_right_line"></div>

			{%if count($array) > 0%}
			<table style="width: 100%" class="tablelist mt10">
				<tr>
					<td class="td01">Title</td>
					<td class="td01">Time</td>
					<td class="td01">Operating</td>
				</tr>
				{%forlist from=$array key=i%}
				<tr>
					<td class="td02 tl"><a target="_blank" href="{%$array[i].link%}" class="infolink01">{%$array[i].title|cutstr(35,'')%}</a></td>
					<td class="td02">{%$array[i].addtime|timeformat(4)%}</td>
					<td class="td02">
						<a href="{%$array[i].edit%}" class="button blue2">Edit</a>
					</td>
				</tr>
				{%/forlist%}
			</table>

			<div class="espcms_page_botton">
				<div id="pagelist">{%$pagetext%}</div>
			</div>
			<div class="espcms_page_botton">
				<div id="pagination" class="pagination">
					{%$pagebotton%}
				</div>
			</div>
			{%else%}
			<div class="espcms_page_botton">
				<div id="pagination">No content</div>
			</div>
			{%/if%}
		{%elseif $out=='forumedit'%}
		<script type="text/javascript">
		var forum_title_err = "{%$lngpack.forum_title_err%}";
		var forum_input_err = "{%$lngpack.forum_input_err%}";
		var email_err = "{%$lngpack.email_err%}";
		var seccode_empty = "{%$lngpack.seescodeerr%}";
		</script>
		<!--留言查看-->
		<form name="bbsmainform" method="post" action="{%$mlink.forumeditsave%}" onSubmit="return forumcreat('0')">
		<input type="hidden" name="tokenkey" value="{%$tokenkey.token_key%}"/>
		<input type="hidden" name="userid" value="{%$read.userid%}"/>
		<input type="hidden" name="bid" value="{%$read.bid%}"/>
		<input type="hidden" name="btid" value="{%$read.btid%}"/>
		<input type="hidden" name="lng" value="{%$read.lng%}"/>
		<div class="espcms_book_paddingbottom0 pt10">
			<div class="espcms_bbs_form">
				<b class="b1"></b><b class="b2"></b><b class="b3"></b><b class="b4"></b>
				<div class="title"><div class="messageicon"></div><div class="messtitle">Modify the message</div></div>
				<div class="content">
					<div class="espcms_form_group">
						<label for="address" class="control_label">Title</label>
						<div class="control_required"><input type="text" name="title" value="{%$read.title%}" maxlength="200" size="60" class="infoInput"/></div>
					</div>
					<div class="espcms_form_group">
						<label for="address" class="control_label">Name</label>
						<div class="control_required"><input type="text" name="username" class="infoInput" value="{%$read.username%}" size="40" class="infoInput"/></div>
					</div>
					<div class="espcms_form_group">
						<label for="address" class="control_label">E-mail</label>
						<div class="control_required"><input type="text" name="email" class="infoInput" value="{%$read.email%}" size="40" class="infoInput"/></div>
					</div>

					<div class="espcms_form_group">
						<label for="content" class="control_label">Content</label>
						<div class="control_required">
							<textarea name="content" rows="10" id="content" class="col11 infoInput">{%$read.content|Html2Text('0')%}</textarea>
						</div>
					</div>
					<div class="espcms_form_group">
						<label for="content" class="control_label"></label>
						<div class="control_required f14">
							<input type="radio" value="1" name="istype" onclick="ondisplayother('lastdiv2', 'displaytrue', 'lastdiv1', 'displaynone');" checked="checked"/> Don't fill in additional information&nbsp;
							<input type="radio" value="2" name="istype" onclick="ondisplayother('lastdiv2', 'displaynone', 'lastdiv1', 'displaytrue')"/> Fill in the additional information
						</div>
					</div>

					<div class="espcms_bbs_other displaynone" id="lastdiv1">
						<div class="espcms_form_group">
							<label class="control_label">QQ</label>
							<div class="control_required"><input type="text" name="qq" value="{%$read.qq%}" class="col5 infoInput"/></div>
						</div>
						<div class="espcms_form_group">
							<label class="control_label">MSN</label>
							<div class="control_required"><input type="text" name="msn" value="{%$read.msn%}" class="col5 infoInput"/></div>
						</div>
						<div class="espcms_form_group">
							<label class="control_label">Address</label>
							<div class="control_required"><input type="text" name="address" value="{%$read.address%}" class="col5 infoInput"/></div>
						</div>
						<div class="espcms_form_group">
							<label class="control_label">Tel</label>
							<div class="control_required"><input type="text" name="tel" value="{%$read.tel%}" class="col5 infoInput"/></div>
						</div>
						<div class="espcms_form_group">
							<label class="control_label">Mobile</label>
							<div class="control_required"><input type="text" name="mobile" value="{%$read.mobile%}" class="col5 infoInput"/></div>
						</div>
					</div>
					<div class="espcms_form_group">
						<label for="submit" class="control_label"></label>
						<div class="control_required">
							<input type="submit" id="submit" class="button blue2" value="Edit"/>
						</div>
					</div>
				</div>
				<b class="b5"></b><b class="b6"></b><b class="b7"></b><b class="b8"></b>
			</div>
		</div>
		</form>
		{%/if%}
	</div>
</div>

{%link file="en/public/footer.html"%}
</body>
</html>
