<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>{%$lngpack.sitename%}</title>
<meta name="keywords" content="{%$lngpack.keyword%}" />
<meta name="description" content="{%$lngpack.description%}" />
<script type="text/javascript" src="{%$rootdir%}js/jquery.js"></script>
<script type="text/javascript" src="{%$rootdir%}js/basicrun.js"></script>
<script type="text/javascript" src="{%$rootdir%}js/jquery.Slide.js"></script>
<link href="{%$rootpath%}css/espcms_public.css" rel="stylesheet" type="text/css" />
<link href="{%$rootpath%}css/espcms_v5div.css" rel="stylesheet" type="text/css" />
<link href="{%$rootpath%}css/espcms_page.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">
	$(window).load(function() {
		$("#clickmenubotton li span").hover(function() {
			$(this).addClass("menuhover");
			$(this).parent().find("ul.subnav").slideDown('fast').show();
			$(this).parent().hover(function() {
			}, function() {
				$(this).parent().find("ul.subnav").fadeOut('fast');
				$(this).parent().find("span").removeClass("menuhover");
			});
		});
	});

	var seconds = {%$tiptime%};
	var defaultUrl = "{%$linkURL%}";
	onload = function() {
		if (defaultUrl == 'javascript:history.go(-1)' && window.history.length == 0) {
			document.getElementById('redirectionMsg').innerHTML = '';
			return;
		}
		window.setInterval(redirection, 1000);
	}
	function redirection() {
		if (seconds <= 0) {
			window.clearInterval();
			return;
		}
		seconds--;
		document.getElementById('spanSeconds').innerHTML = seconds;
		if (seconds == 0) {
			window.clearInterval();
			location.href = defaultUrl;
		}
	}
</script>
</head>

<body>
{%link file="en/public/head.html"%}
{%if $type.typepic!=''%}
<div class="espcms_page_bannpic"><img src="{%$rootdir%}{%$type.typepic%}" alt="{%$type.typename%}"/></div>
{%/if%}

<div class="espcms_page">
	<div class="espcms_member_login_center espcms_formwidth_c">
		<div class="title mb20"><div class="messageicon2"></div><div class="messtitle">Infotip</div></div>
		<div class="espcms_form_group tc f14 oninage b">{%$calltitle%}</div>
		<div class="espcms_form_group tc f14">You can choose the following,Website will return after <span class="em" id="spanSeconds">{%$tiptime%}</span>seconds!</div>

		<div class="espcms_form_group tc pt15">
			{%if $backid > 0%}
			<input class="button blue2" onclick="javascript:location.href = '{%$backlinkURL%}';" name="submit" type="submit" value="{%$backBotton%}" />
			{%/if%}
			<input class="button blue2" onclick="javascript:location.href = '{%$linkURL%}';" name="submit" type="submit" value="{%$bottonName%}" />
		</div>
	</div>
</div>

{%link file="en/public/footer.html"%}
</body>
</html>
