<div class="footer_page">
	<div class="footer_talbe">
		{%get name=typelist%}
			{%forlist from=$array key=i max=6%}
			<dl>
				<dt><a href="{%$array[i].link%}" title="{%$array[i].typename%}">{%$array[i].typename%}</a></dt>
				{%if count( $array[i].childArray ) > 0 %}
				{%forlist from=$array[i].childArray key=ii%}
				<dd><a href="{%$array[i].childArray[ii].link%}" title="{%$array[i].childArray[ii].typename%}">{%$array[i].childArray[ii].typename%}</a></dd>
				{%/forlist%}
				{%/if%}
			</dl>
			{%/forlist%}
		{%/get%}
		<dl class="content">
			<dt>易思ESPCMS企业网站管理系统运营中心</dt>
			<dd>在线官网服务平台 <a href="http://www.ecisp.cn">http://www.ecisp.cn</a> </dd>
			<dd>论坛交流平台 <a href="http://bbs.ecisp.cn">http://bbs.ecisp.cn</a> </dd>
			<dd>技术支持E-Mail：admin@espcms.com </dd>
			<dd>QQ交流群：4765284</dd>
			<dt class="subscription">
				{%get name=invite class=mlvid:1%}
				<form name="inviteform" method="post" action="{%$link%}">
				<input type="hidden" name="mlvid" value="{%$read.mlvid%}">
				<input type="hidden" name="lng" value="{%$read.lng%}">
				<table>
					<tr>
						<td><input id="email" name="email" type="text" class="infoInput" size="18"/></td>
						<td><input name="submitsearch" type="submit" class="button blue" value="提交邮件订阅" /></td>
					</tr>
				</table>
				</form>
				{%/get%}
			</dt>
		</dl>
	</div>
	<div class="footer_talbe_str">
		<div class="sitetype">
			<div class="foot_l">
				<p>
					{%get name=typepart class=mid:0%}
						{%forlist from=$array key=i%}
							{%if key=>i>1%}<span>|</span>{%/if%}
							<a title="{%$array[i].typename%}" href="{%$array[i].link%}">{%$array[i].typename%}</a>
						{%/forlist%}
					{%/get%}
					<br/>
					易思ESPCMS企业建站系统 [ESPCMS] 版权所有 2002-2015 All Rights Reserved <a class="infolink02" target="_blank" href="http://www.ecisp.cn">Powered by ESPCMS V6</a><br/>
					声明：本站内容只是做为ESPCMS演示功能使用，不对其内容真假负责！{%$icp%}<br/>
					ESPCMS著作权信息：中华人民共和国国家版权局 ESPCMS计算机软件著作权登记证书：2011SR051710、2014SR127418
				</p>
			</div>
			<div class="foot_r">
				<span>分享 |</span>
				<!-- Baidu Button BEGIN -->
				<div id="bdshare" class="bdshare_t bds_tools_32 get-codes-bdshare">
					<a class="bds_tsina" title="分享到新浪微博" href="#"></a>
					<a class="bds_tqq" title="分享到腾讯微博" href="#"></a>
					<a class="bds_douban" title="分享到豆瓣网" href="#"></a>
					<a class="bds_renren" title="分享到人人网" href="#"></a>
				</div>
				<script type="text/javascript" id="bdshare_js" data="type=tools&amp;mini=1&amp;uid=201241" src="http://bdimg.share.baidu.com/static/js/bds_s_v2.js?cdnversion=387712"></script>

				<script type="text/javascript">
					document.getElementById("bdshare_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date() / 3600000)
				</script>
				<!-- Baidu Button END -->
			</div>
		</div>
	</div>
</div>
{%list name=im class=wxid:1%}
