<h2>Member</h2>
<ul class="espcms_three_one unstyled">
	<li><a class="typelink" href="{%$mlink.center%}">Your Account</a></li>
	<li><a class="typelink" href="{%$mlink.orderlist%}">Order</a></li>
	<li><a class="typelink" href="{%$mlink.enquirylist%}">Inquiry</a></li>
	{%if $bbsapp==1%}
	<li><a class="typelink" href="{%$mlink.forumlist%}">Messaging</a></li>
	{%/if%}
	<li><a class="typelink" href="{%$mlink.memedit_info%}">Profile Settings</a></li>
	<li><a class="typelink" href="{%$mlink.memedit_password%}">Password Settings</a></li>
	<li><a class="typelink" href="{%$mlink.memedit_email%}">E-mail Settings</a></li>
	<li><a class="typelink" href="{%$mlink.moblie_validate%}">Mobile phone service</a></li>
	<li><a class="typelink" href="{%$mlink.quit%}">Sign out</a></li>
</ul>