<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>{%$lngpack.sitename%}</title>
<meta name="keywords" content="{%$lngpack.keyword%}" />
<meta name="description" content="{%$lngpack.description%}" />
<script type="text/javascript" src="{%$rootdir%}js/jquery.js"></script>
<script type="text/javascript" src="{%$rootdir%}js/basicrun.js"></script>
<script type="text/javascript" src="{%$rootdir%}js/jquery.Slide.js"></script>
<link href="{%$rootpath%}css/espcms_public.css" rel="stylesheet" type="text/css" />
<link href="{%$rootpath%}css/espcms_v5div.css" rel="stylesheet" type="text/css" />
<link href="{%$rootpath%}css/espcms_page.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">
	$(window).load(function() {
		$("#clickmenubotton li span").hover(function() {
			$(this).addClass("menuhover");
			$(this).parent().find("ul.subnav").slideDown('fast').show();
			$(this).parent().hover(function() {
			}, function() {
				$(this).parent().find("ul.subnav").fadeOut('fast');
				$(this).parent().find("span").removeClass("menuhover");
			});
		});
	});
</script>
</head>

<body>
{%link file="en/public/head.html"%}
{%if $type.pic!=''%}
<div class="espcms_page_bannpic"><img src="{%$rootdir%}{%$type.pic%}" alt="{%$type.typename%}"/></div>
{%/if%}

<div class="espcms_page">

		<div class="espcms_page_typename">{%$type.typename%}</div>
		<div class="espcms_page_location"><a href="{%$homelink%}">Home</a> » <b>{%$type.typename%}</b></div>
		<div class="espcms_page_center_line"></div>

		{%if $out=='forumbbs'%}
		<!--留言列表模式-->
		<div class="espcms_page pb20 pt15">
			{%if count($array) > 0%}
			<ul class="espcms_bbs_list_all">
				{%forlist from=$array key=i%}
				<li>
					<div class="espcms_bbs_content_a_read_table">
						<div class="espcms_index">
							<span class="espcms_bbs_title">Title：{%$array[i].title%}</span>   <span class="espcms_bbs_auto">{%$array[i].username%}</span>    <span class="espcms_bbs_time">{%$array[i].addtime|timeformat(3)%}</span>
						</div>
						<b class="b1"></b><b class="b2"></b><b class="b3"></b><b class="b4"></b>
						<div class="content">
							{%$array[i].content|htmlcode('0')%}

							{%if count( $array[i].list )>0 %}
							{%forlist from=$array[i].list key=ii%}
							<div class="espcms_bbs_content_b_read_table">
								<div class="espcms_index_re"><span class="espcms_bbs_title">Reply</span>   <span class="espcms_bbs_time">{%$array[i].list[ii].addtime|timeformat(3)%}</span></div>
								<b class="b1"></b><b class="b2"></b><b class="b3"></b><b class="b4"></b>
								<div class="content">{%$array[i].list[ii].content|htmlcode('0')%}</div>
								<b class="b5"></b><b class="b6"></b><b class="b7"></b><b class="b8"></b>
							</div>
							{%/forlist%}
							{%/if%}
						</div>
						<b class="b5"></b><b class="b6"></b><b class="b7"></b><b class="b8"></b>
					</div>
				</li>
				{%/forlist%}
			</ul>

			<div class="espcms_page_botton">
				<div id="pagelist">{%$pagetext%}</div>
			</div>
			<div class="espcms_page_botton">
				<div id="pagination" class="pagination">
					{%$pagebotton%}
				</div>
			</div>
			{%else%}
			<div class="espcms_page_botton">
				<div id="pagination">No message</div>
			</div>
			{%/if%}

			{%if $member.userid!=0 || $type.purview==0%}
			<script type="text/javascript">
			var forum_title_err = "{%$lngpack.forum_title_err%}";
			var forum_input_err = "{%$lngpack.forum_input_err%}";
			var email_err = "{%$lngpack.email_err%}";
			var seccode_empty = "{%$lngpack.seescodeerr%}";
			</script>
			<form name="bbsmainform" method="post" action="{%$mlink.forumsave%}" onSubmit="return forumcreat('{%$type.isseccode%}')">
				<input type="hidden" name="userid" value="{%$member.userid%}"/>
				<input type="hidden" name="inputclass" value="add"/>
				<input type="hidden" name="btid" value="{%$type.btid%}"/>
				<input type="hidden" name="lng" value="{%$lng%}"/>
				<input type="hidden" name="tokenkey" value="{%$tokenkey.token_key%}"/>
				<div class="espcms_bbs_form pt20">
					<b class="b1"></b><b class="b2"></b><b class="b3"></b><b class="b4"></b>
					<div class="title"><div class="messageicon"></div><div class="messtitle"> Message</div></div>
					<div class="content">
						<div class="espcms_form_group">
							<label for="title" class="control_label">Title</label>
							<div class="control_required">
								<input type="text" name="title" id="title" class="col6 infoInput"/>
							</div>
						</div>
						<div class="espcms_form_group">
							<label for="username" class="control_label">Name</label>
							<div class="control_required"><input type="text" name="username" id="username" value="{%$member.alias%}" class="col5 infoInput"/></div>
						</div>
						<div class="espcms_form_group">
							<label for="email" class="control_label">E-mail</label>
							<div class="control_required"><input type="text" name="email" id="email" value="{%$member.email%}" class="col5 infoInput"/></div>
						</div>
						<div class="espcms_form_group">
							<label for="content" class="control_label">Content</label>
							<div class="control_required">
								<textarea name="content" id="content" rows="6" class="col11 infoInput"></textarea>
							</div>
						</div>

						<div class="espcms_form_group">
							<label for="content" class="control_label"></label>
							<div class="control_required f14">
								<input type="radio" value="1" name="istype" onclick="ondisplayother('lastdiv2', 'displaytrue', 'lastdiv1', 'displaynone');" checked="checked"/> Don't fill in additional information&nbsp;
								<input type="radio" value="2" name="istype" onclick="ondisplayother('lastdiv2', 'displaynone', 'lastdiv1', 'displaytrue')"/> Fill in the additional information
							</div>
						</div>

						<div class="espcms_bbs_other displaynone" id="lastdiv1">
							<div class="espcms_form_group">
								<label class="control_label">QQ</label>
								<div class="control_required"><input type="text" name="qq" value="{%$member.qq%}" class="col5 infoInput"/></div>
							</div>
							<div class="espcms_form_group">
								<label class="control_label">MSN</label>
								<div class="control_required"><input type="text" name="msn" value="{%$member.msn%}" class="col5 infoInput"/></div>
							</div>
							<div class="espcms_form_group">
								<label class="control_label">Address</label>
								<div class="control_required"><input type="text" name="address" value="{%$member.address%}" class="col5 infoInput"/></div>
							</div>
							<div class="espcms_form_group">
								<label class="control_label">Tel</label>
								<div class="control_required"><input type="text" name="tel" value="{%$member.tel%}" class="col5 infoInput"/></div>
							</div>
							<div class="espcms_form_group">
								<label class="control_label">Mobile</label>
								<div class="control_required"><input type="text" name="mobile" value="{%$member.mobile%}" class="col5 infoInput"/></div>
							</div>
						</div>
						{%if $type.isseccode==1%}
						<div class="espcms_form_group">
							<label for="seccode" class="control_label">Security code</label>
							<div class="control_required">
								<input type="text" id="seccode" name="seccode" class=" infoInput" maxlength="4" size="5" style="text-transform: uppercase;"/>
								<img id="memberseccodesrc" onclick="sessionimg('memberseccodesrc','{%$rootdir%}')" src="{%$seccodelink%}" style="cursor: pointer;height:28px;margin-left:5px;" align="absmiddle"/>
							</div>
						</div>
						{%/if%}
						<div class="espcms_form_group">
							<label class="control_label"> </label>
							<div class="control_required"><input type="submit" id="submit" class="button blue2" value="Submit"> </div>
						</div>
					</div>
					<b class="b5"></b><b class="b6"></b><b class="b7"></b><b class="b8"></b>
				</div>
			</form>
			{%/if%}
		</div>
		{%elseif $out=='forumlist'%}
		<!--留言列表模式-->
		<div class="espcms_page pb20 pt15">
			{%if count($array) > 0%}
			<ul class="espcms_bbs_list">
				{%forlist from=$array key=i%}
				<li>
					<div class="espcms_bbs_list_title"><a href="{%$array[i].link%}" title="{%$array[ii].title%}" class="bbslistlink">{%$array[i].title%}</a> <span>（{%$array[i].click%}/{%$array[i].replynum%}）</span></div>
					<div class="espcms_bbs_list_data"><span class="espcms_bbs_list_aoto">{%$array[i].username%} </span> {%$array[i].addtime|timeformat(3)%}</div>
				</li>
				{%/forlist%}
			</ul>


			<div class="espcms_page_botton">
				<div id="pagelist">{%$pagetext%}</div>
			</div>
			<div class="espcms_page_botton">
				<div id="pagination" class="pagination">
					{%$pagebotton%}
				</div>
			</div>
			{%else%}
			<div class="espcms_page_botton">
				<div id="pagination">No message</div>
			</div>
			{%/if%}

			{%if $member.userid!=0 || $type.purview==0%}
			<script type="text/javascript">
			var forum_title_err = "{%$lngpack.forum_title_err%}";
			var forum_input_err = "{%$lngpack.forum_input_err%}";
			var email_err = "{%$lngpack.email_err%}";
			var seccode_empty = "{%$lngpack.seescodeerr%}";
			</script>
			<form name="bbsmainform" method="post" action="{%$mlink.forumsave%}" onSubmit="return forumcreat('{%$type.isseccode%}')">
				<input type="hidden" name="userid" value="{%$member.userid%}"/>
				<input type="hidden" name="inputclass" value="add"/>
				<input type="hidden" name="btid" value="{%$type.btid%}"/>
				<input type="hidden" name="lng" value="{%$lng%}"/>
				<input type="hidden" name="tokenkey" value="{%$tokenkey.token_key%}"/>
				<div class="espcms_bbs_form pt20">
					<b class="b1"></b><b class="b2"></b><b class="b3"></b><b class="b4"></b>
					<div class="title"><div class="messageicon"></div><div class="messtitle">Message</div></div>
					<div class="content">
						<div class="espcms_form_group">
							<label for="title" class="control_label">Title</label>
							<div class="control_required">
								<input type="text" name="title" id="title" class="col6 infoInput"/>
							</div>
						</div>
						<div class="espcms_form_group">
							<label for="username" class="control_label">Name</label>
							<div class="control_required"><input type="text" name="username" id="username" value="{%$member.alias%}" class="col5 infoInput"/></div>
						</div>
						<div class="espcms_form_group">
							<label for="email" class="control_label">E-mail</label>
							<div class="control_required"><input type="text" name="email" id="email" value="{%$member.email%}" class="col5 infoInput"/></div>
						</div>
						<div class="espcms_form_group">
							<label for="content" class="control_label">Content</label>
							<div class="control_required">
								<textarea name="content" id="content" rows="6" class="col11 infoInput"></textarea>
							</div>
						</div>

						<div class="espcms_form_group">
							<label for="content" class="control_label"></label>
							<div class="control_required f14">
								<input type="radio" value="1" name="istype" onclick="ondisplayother('lastdiv2', 'displaytrue', 'lastdiv1', 'displaynone');" checked="checked"/> Don't fill in additional information&nbsp;
								<input type="radio" value="2" name="istype" onclick="ondisplayother('lastdiv2', 'displaynone', 'lastdiv1', 'displaytrue')"/> Fill in the additional information
							</div>
						</div>

						<div class="espcms_bbs_other displaynone" id="lastdiv1">
							<div class="espcms_form_group">
								<label class="control_label">QQ</label>
								<div class="control_required"><input type="text" name="qq" value="{%$member.qq%}" class="col5 infoInput"/></div>
							</div>
							<div class="espcms_form_group">
								<label class="control_label">MSN</label>
								<div class="control_required"><input type="text" name="msn" value="{%$member.msn%}" class="col5 infoInput"/></div>
							</div>
							<div class="espcms_form_group">
								<label class="control_label">Address</label>
								<div class="control_required"><input type="text" name="address" value="{%$member.address%}" class="col5 infoInput"/></div>
							</div>
							<div class="espcms_form_group">
								<label class="control_label">Tel</label>
								<div class="control_required"><input type="text" name="tel" value="{%$member.tel%}" class="col5 infoInput"/></div>
							</div>
							<div class="espcms_form_group">
								<label class="control_label">Mobile</label>
								<div class="control_required"><input type="text" name="mobile" value="{%$member.mobile%}" class="col5 infoInput"/></div>
							</div>
						</div>
						{%if $type.isseccode==1%}
						<div class="espcms_form_group">
							<label for="seccode" class="control_label">Security code</label>
							<div class="control_required">
								<input type="text" id="seccode" name="seccode" class=" infoInput" maxlength="4" size="5" style="text-transform: uppercase;"/>
								<img id="memberseccodesrc" onclick="sessionimg('memberseccodesrc','{%$rootdir%}')" src="{%$seccodelink%}" style="cursor: pointer;height:28px;margin-left:5px;" align="absmiddle"/>
							</div>
						</div>
						{%/if%}
						<div class="espcms_form_group">
							<label class="control_label"> </label>
							<div class="control_required"><input type="submit" id="submit" class="button blue2" value="Submit"> </div>
						</div>
					</div>
					<b class="b5"></b><b class="b6"></b><b class="b7"></b><b class="b8"></b>
				</div>
			</form>
			{%/if%}
		</div>
		{%elseif $out=='forumread'%}
		<!--留言查看-->
		<div class="espcms_page pb20 pt15">
			<ul class="espcms_bbs_list_all">
				<li>
					<div class="espcms_bbs_content_a_read_table">
						<div class="espcms_index">
							<span class="espcms_bbs_title">Title：{%$read.title%}</span>   <span class="espcms_bbs_auto">{%$read.username%}</span>    <span class="espcms_bbs_time">{%$read.addtime|timeformat(3)%}&nbsp;&nbsp; Read：{%$read.click%}&nbsp;&nbsp; Reply：{%$read.replynum%}</span>
						</div>
						<b class="b1"></b><b class="b2"></b><b class="b3"></b><b class="b4"></b>
						<div class="content oninage">{%$read.content|htmlcode('0')%}</div>
						<b class="b5"></b><b class="b6"></b><b class="b7"></b><b class="b8"></b>
					</div>
				</li>
				{%if count($array) > 0%}
				{%forlist from=$array key=i%}
				<li>
					<div class="espcms_bbs_content_a_read_table">
						<div class="espcms_index">
							<span class="espcms_bbs_title">Reply Title：{%$array[i].title%}</span>   <span class="espcms_bbs_auto">{%if $array[i].adminid>0 %}Reply{%else%}{%$array[i].username%}{%/if%}</span>    <span class="espcms_bbs_time">{%$array[i].addtime|timeformat(3)%}</span>
						</div>
						<b class="b1"></b><b class="b2"></b><b class="b3"></b><b class="b4"></b>
						<div class="content">{%$array[i].content|htmlcode('0')%}</div>
						<b class="b5"></b><b class="b6"></b><b class="b7"></b><b class="b8"></b>
					</div>
				</li>
				{%/forlist%}
				{%/if%}
			</ul>
			{%if count($array) > 0%}
			<div class="espcms_page_botton">
				<div id="pagelist">{%$pagetext%}</div>
			</div>
			<div class="espcms_page_botton">
				<div id="pagination" class="pagination">
					{%$pagebotton%}
				</div>
			</div>
			{%/if%}

			{%if $type.ispage==2%}
				{%if $member.userid!=0 || $type.purview==0%}
				<script type="text/javascript">
				var forum_title_err = "{%$lngpack.forum_title_err%}";
				var forum_input_err = "{%$lngpack.forum_input_err%}";
				var email_err = "{%$lngpack.email_err%}";
				var seccode_empty = "{%$lngpack.seescodeerr%}";
				</script>
				<form name="bbsmainform" method="post" action="{%$mlink.forumsave%}" onSubmit="return forumcreat('{%$type.isseccode%}')">
					<input type="hidden" name="userid" value="{%$member.userid%}"/>
					<input type="hidden" name="inputclass" value="reinput"/>
					<input type="hidden" name="btid" value="{%$type.btid%}"/>
					<input type="hidden" name="bid" value="{%$read.bid%}"/>
					<input type="hidden" name="lng" value="{%$lng%}"/>
					<input type="hidden" name="reemail" value="{%$read.email%}"/>
					<input type="hidden" name="tokenkey" value="{%$tokenkey.token_key%}"/>
					<div class="espcms_bbs_form pt20">
						<b class="b1"></b><b class="b2"></b><b class="b3"></b><b class="b4"></b>
						<div class="title"><div class="messageicon"></div><div class="messtitle">Reply</div></div>
						<div class="content">
							<div class="espcms_form_group">
								<label for="title" class="control_label">Title</label>
								<div class="control_required">
									<input type="text" name="title" id="title" value="RE:{%$read.title%}" class="col6 infoInput"/>
								</div>
							</div>
							<div class="espcms_form_group">
								<label for="username" class="control_label">Name</label>
								<div class="control_required"><input type="text" name="username" id="username" value="{%$member.alias%}" class="col5 infoInput"/></div>
							</div>
							<div class="espcms_form_group">
								<label for="email" class="control_label">E-mail</label>
								<div class="control_required"><input type="text" name="email" id="email" value="{%$member.email%}" class="col5 infoInput"/></div>
							</div>
							<div class="espcms_form_group">
								<label for="content" class="control_label">Content</label>
								<div class="control_required">
									<textarea name="content" id="content" rows="6" class="col11 infoInput"></textarea>
								</div>
							</div>

							<div class="espcms_form_group">
								<label for="content" class="control_label"></label>
								<div class="control_required f14">
									<input type="radio" value="1" name="istype" onclick="ondisplayother('lastdiv2', 'displaytrue', 'lastdiv1', 'displaynone');" checked="checked"/> Don't fill in additional information&nbsp;
									<input type="radio" value="2" name="istype" onclick="ondisplayother('lastdiv2', 'displaynone', 'lastdiv1', 'displaytrue')"/> Fill in the additional information
								</div>
							</div>

							<div class="espcms_bbs_other displaynone" id="lastdiv1">
								<div class="espcms_form_group">
									<label class="control_label">QQ</label>
									<div class="control_required"><input type="text" name="qq" value="{%$member.qq%}" class="col5 infoInput"/></div>
								</div>
								<div class="espcms_form_group">
									<label class="control_label">MSN</label>
									<div class="control_required"><input type="text" name="msn" value="{%$member.msn%}" class="col5 infoInput"/></div>
								</div>
								<div class="espcms_form_group">
									<label class="control_label">Address</label>
									<div class="control_required"><input type="text" name="address" value="{%$member.address%}" class="col5 infoInput"/></div>
								</div>
								<div class="espcms_form_group">
									<label class="control_label">Tel</label>
									<div class="control_required"><input type="text" name="tel" value="{%$member.tel%}" class="col5 infoInput"/></div>
								</div>
								<div class="espcms_form_group">
									<label class="control_label">Mobile</label>
									<div class="control_required"><input type="text" name="mobile" value="{%$member.mobile%}" class="col5 infoInput"/></div>
								</div>
							</div>
							{%if $type.isseccode==1%}
							<div class="espcms_form_group">
								<label for="seccode" class="control_label">Security code</label>
								<div class="control_required">
									<input type="text" id="seccode" name="seccode" class=" infoInput" maxlength="4" size="5" style="text-transform: uppercase;"/>
									<img id="memberseccodesrc" onclick="sessionimg('memberseccodesrc','{%$rootdir%}')" src="{%$seccodelink%}" style="cursor: pointer;height:28px;margin-left:5px;" align="absmiddle"/>
								</div>
							</div>
							{%/if%}
							<div class="espcms_form_group">
								<label class="control_label"> </label>
								<div class="control_required"><input type="submit" id="submit" class="button blue2" value="Submit"> </div>
							</div>
						</div>
						<b class="b5"></b><b class="b6"></b><b class="b7"></b><b class="b8"></b>
					</div>
				</form>
				{%/if%}
			{%/if%}
		</div>
		{%/if%}
</div>

{%link file="en/public/footer.html"%}
</body>
</html>
